{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
  {%
    set classes = [
      'paragraph',
      'paragraph--type--' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
      not paragraph.isPublished() ? 'paragraph--unpublished'
    ]
  %}
  {%- set tab_id = 'tab' ~ paragraph.id.value %}
{% block paragraph %}
  <div{{ attributes.addClass(classes).setAttribute('id', 'paragraph-id--' ~ paragraph.id()) }}>
    {% block content %}
      {{ content.field_accordion_title }}
      {{ content.field_accordion_subtitle }}

      <div class="wrapp-accordion">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="{{ col_class }}">
            {% for key, item in content.field_accordion_item if key|first != '#' %}
              {% if loop.index is odd %}

                <div class="panel panel-default">
                  <div{{ item.attributes.addClass('field--item') }}>
                    <div class="panel-heading" role="tab" id="heading-{{ tab_id }}-{{ key + 1 }}">
                    <h3 class="panel-title">
                      <a href="#collapse-{{ tab_id }}-{{ key + 1 }}" role="button" data-toggle="collapse" data-parent="#accordion" aria-controls="collapse-{{ tab_id }}-{{ key + 1 }}" aria-expanded="true" class="">
                        {{ item['#paragraph'].field_accordion_item_title.value }}
                      </a>
                    </h3>
                    </div>
                  </div>

                  <div id="collapse-{{ tab_id }}-{{ key + 1 }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ tab_id }}-{{ key + 1 }}">
                    <div class="panel-body">
                      <p>{{ item['#paragraph'].field_accordion_item_text.value|raw }} </p>
                      {{ item['#paragraph'].field_accordion_listing.target_id }}
                    </div>
                  </div>
                </div>

              {% endif %}
            {% endfor %}
          </div>

          <div class="{{ col_class }}">
            {% for key, item in content.field_accordion_item if key|first != '#' %}
              {% if loop.index is even %}

                <div class="panel panel-default">
                  <div{{ item.attributes.addClass('field--item') }}>
                    <div class="panel-heading" role="tab" id="heading-{{ tab_id }}-{{ key + 1 }}">
                    <h3 class="panel-title">
                      <a href="#collapse-{{ tab_id }}-{{ key + 1 }}" role="button" data-toggle="collapse" data-parent="#accordion" aria-controls="collapse-{{ tab_id }}-{{ key + 1 }}" aria-expanded="true" class="">
                        {{ item['#paragraph'].field_accordion_item_title.value }}
                      </a>
                    </h3>
                    </div>
                  </div>

                  <div id="collapse-{{ tab_id }}-{{ key + 1 }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ tab_id }}-{{ key + 1 }}">
                    <div class="panel-body">
                      <p>{{ item['#paragraph'].field_accordion_item_text.value|raw }} </p>
                      {{ item['#paragraph'].field_accordion_listing.target_id }}
                    </div>
                  </div>
                </div>

              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    
  </div>
  {% endblock %}
{% endblock paragraph %}
