.paragraph--type--accordion-paragraph {
  margin: auto;
  padding: 0 rem-calc(20) 0;
  @media (min-width: $screen-sm-min) {
    padding: 0 rem-calc(30) 0;
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 1170px;
    padding: 0;
  }

  .field--name-field-accordion-title {
    @extend h2;
    max-width: 100%;
    opacity: 1;
    @media (min-width: $screen-lg-min) {
      // de schimbat
      // max-width: 870px;
      margin: 0 auto;
    }
  }

  .field--name-field-accordion-subtitle {
    @extend p;
    margin: 0 auto;
    padding: 0 0 rem-calc(20);
    @media (min-width: $screen-sm-min) {
      max-width: 100%;
      text-align: left;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 870px;
      padding: 0 0 rem-calc(40);
      //text-align: center;
    }
  }
  .wrapp-accordion {
    .panel-group .panel-heading {
      background:#EDBADC;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .panel-body p {
      font-size: 16px;
    }
  }
  .panel-title a[aria-expanded="true"] {
    background-color:  #C5198D;
  }
  .panel-default {
    border-color: #EDBADC;
  }

  .wrapp-accordion {
    .col-md-6,
    .col-md-12 {
      padding: 0;
    }
    .col-md-6:last-of-type {
      padding: 0;
      @media (min-width: $screen-md-min) {
        padding: 0 0 0 12px;
      }
    }
    .col-md-6:first-of-type {
      padding: 0;
      @media (min-width: $screen-md-min) {
        padding: 0 12px 0 0;
      }
    }
    .panel-default {
      margin-top: 15px;
    }
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
        a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: rem-calc(14 45 19 15);
        font-size: rem-calc(16);
        line-height: rem-calc(19);
        @media (min-width: $screen-md-min) {
          font-size: rem-calc(20);
          line-height: rem-calc(28);
        }
      }
    }
  }
  .panel-title {
    position: relative;
    padding: 25px 15px;
    
    a {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 15px;
      color: #454545;
      &:after {
        bottom: rem-calc(16);
        content: url(../images/svg/down.svg);
        height: 16px;
        position: absolute;
        right: rem-calc(16);
        top: rem-calc(16);
        width: 20px;
        height: 20px;
        z-index: 1;
      }
    }
    // a:hover,
    // a:active,
    // a:focus {
    //   color: black;
    // }
  }
  .wrapp-accordion {
    display: flex;
    flex-direction: column;
  }
  .panel-group .panel {
    border-radius: 0;
  }
  .panel-title {
    a[aria-expanded="true"]{
      color: $white;
      margin-bottom: -10px;
      margin-top: -10px;
      padding: 25px 45px 25px 15px;
      &:after {
        transform: rotate(180deg);
        transition: all .5s;
        top: 27px;
        content: url(../images/svg/down-white.svg);
      }
    }
  }
}
.items-container {
  padding: 0;
  > .field--item {
    padding: 60px 0;
    @media (min-width: $screen-sm-min) {
      padding: 120px 0;
    }
  }
  >.field--item.hero-image-cta {
    padding: 0;
    @media (min-width: $screen-lg-min) {
      padding: 100px 0;
    }
  }
  >.field--item.testimonials-wrapper {
    background: #E8EAF0;
  }
}
.footer {
  .field--name-body {
    margin: 0 !important;
  }
  li.expanded {
    // display: block; 
    > ul > li > a {
      display: none;
    }
  }
}