.path-node:not(.page-node-type-page) {
  .region-content {
    display: flex;
    flex-direction: column;
  }
  article.full {
    &:before {
      content: '';
      height: 300px;
      left: 0;
      margin-top: rem-calc(-30);
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 0;
      @media (min-width: $screen-sm-min) {
        background-color: transparent;
      }
      @media (min-width: $screen-md-min) {
        background-color: $light-blue;
        height: 600px;
      }
    }
    header {
      margin: 0 auto;
      @media (min-width: $screen-md-min) {
        max-width: 836px;
      }
      h1 {
        font-size: rem-calc(32);
        padding: 0 rem-calc(20) rem-calc(30);
        position: relative;
        @media (min-width: $screen-sm-min) {
          padding: rem-calc(30) rem-calc(30) rem-calc(70);
        }
        @media (min-width: $screen-md-min) {
          font-size: rem-calc(48);
          padding: rem-calc(70) 0 rem-calc(110);
          text-align: center;
        }
      }
    }
    footer {
      padding-left: rem-calc(30);
      position: relative;
      z-index: 1;
      @media (min-width: $screen-md-min) {
        margin: 0 auto;
        max-width: 836px;

      }
      .author {
        display: flex;
        flex-direction: row;
        .bullet {
          font-family: $font-lato;
          font-weight: bold;
          margin-top: rem-calc(5);
          padding-right: rem-calc(20);
        }
        .custom-date {
          font-size: rem-calc(16);
          margin-top: rem-calc(3);
        }
        .card-tag-static {
          margin-right: rem-calc(24);
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      .field--name-field-element:last-child {
        margin-bottom: 0;
        @media (min-width: $screen-md-min) {
          margin-bottom: rem-calc(80);
        }
      }
      .field--name-field-image {
        order: 1;
        z-index: 1;
        img {
          height: 100%;
          margin: 0 auto;
          padding: 0;
          width: 100%;
          @media (min-width: $screen-lg-min) {
            max-height: 600px;
            max-width: 1170px;
          }
        }
      }
      .field--type-text-with-summary {
        order: 2;

        @media (min-width: $screen-sm-min) {

        }
        @media (min-width: $screen-lg-min) {

        }
        *:first-child {
          margin-top: 0;
        }
        img {
          max-width: 836px;
          width: 100%;
        }
        table {
          margin: rem-calc(40) 0;
        }
      }
    }
  }
  .block-views-blockblog-block-2 {
    order: 10;
  }
  .block-social-media {
    order: 11;
  }
}
.page-node-type-page {
  article.page {
    header {
      margin: 0 auto;
      @media (min-width: $screen-md-min) {
        max-width: 836px;
      }
      h1 {
        font-size: rem-calc(32);
        padding: 0 rem-calc(20);
        @media (min-width: $screen-sm-min) {
          padding: rem-calc(30) rem-calc(30) 0;
        }
        @media (min-width: $screen-md-min) {
          font-size: rem-calc(48);
          padding: 0;
          text-align: left;
          margin-top: rem-calc(90);
        }
      }
    }
  }
  .section-styleguide {
    padding-bottom: rem-calc(60);
    > *:nth-child(1) {
      margin: rem-calc(30 0 20);
      @media (min-width: $screen-md-min) {
        margin-top: rem-calc(60);
      }
    }
    .colors {
      display: flex;
      flex-direction: row;
      @media (max-width: $screen-md-min) {
        flex-wrap: wrap;
      }
      .color-div {
        margin-right: rem-calc(16);
        p {
          font-size: rem-calc(16);
          font-weight: 400;
          padding-top: rem-calc(16);
          text-align: center;
        }
        .color {
          height: 80px;
          width: 80px;
          @media (min-width: $screen-sm-min) {
            width: 116px;
            height: 116px;
          }
          @media (min-width: $screen-md-min) {
            width: 141px;
            height: 141px;
          }
        }
        .fuchsia {
          background-color: $fuchsia;
        }
        .dark-grey {
          background-color: $dark-grey;
        }
        .dark-grayish {
          background-color: $dark-grayish;
        }
        .light-grayish {
          background-color: $light-grayish;
        }
        .linear-gradient {
          background: linear-gradient(180deg, $white 0%, $light-gray 100%);
        }
        .light-pink {
          background-color: $light-pink;
        }
        .light-green {
          background-color: $light-green;
        }
        .light-yellow {
          background-color: $light-yellow;
        }
        .light-purple {
          background-color: $light-purple;
        }
        .light-blue {
          background-color: $light-blue;
        }
      }
      .linear-gradient-margin {
        @media (min-width: $screen-sm-min) {
          margin-top: rem-calc(-54);
        }
      }
    }
    .cards {
      ul.card-type-square-list {
        margin: 0;
      }
      .card-type-circle-list {
        .card-type-circle-item {
          height: 573px;
          max-width: 370px;
          width: 100%;
          img {
            height: 420px;
            width: 370px;
          }
        }
      }
      .card-type-radius-list {
        .card-type-radius-item {
          width: 100%;
        }
      }
      .card-type-square-item {
        img {
          height: 247px;
        }
      }
    }
    form {
      margin-bottom: rem-calc(30);
      .checkbox {
        margin-top: 0;
      }
      .form-item:not(.form-text-test) {
        padding-top: rem-calc(16);
      }
    }
    .cards-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $screen-sm-min) {
        align-items: baseline;
        margin-top: rem-calc(-35);
      }
    }
    .section-button {
      margin-bottom: rem-calc(60);
    }
    .tooltips {
      display: flex;
      @media (max-width: $screen-md-max) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    .tags {
      display: flex;
      flex-direction: row;
      @media (max-width: $screen-md-max) {
        flex-wrap: wrap;
      }
      .card-tag-static {
        margin: 0 rem-calc(16) rem-calc(16) 0;
      }
    }
    table {
      margin-bottom: rem-calc(60);
    }
    .alert,
    .modal-dialog {
      max-width: 100%;
    }
    .form-check {
      display: flex;
      flex-direction: row;
      margin: rem-calc(24) 0;
    }
    .btn-modal {
      margin-bottom: rem-calc(120);
    }
    .global-pager {
      margin-bottom: 0;
    }
    .my-modal-test{
      margin-bottom: rem-calc(100);
    }
  }
}

.container-fluid article .content > div {
  .section-styleguide-benefits-example {
    margin-top: rem-calc(-50);
    max-width: 1170px;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      margin-top: rem-calc(-120);
    }
  }
  .section-styleguide-cta-example {
    max-width: 1170px;
    width: 100%;
  }
}

.tabs-vertical,
.tabs-horizontal {
  margin-bottom: rem-calc(30);
}
.tabs-vertical {
  display: flex;
  .nav-pills {
    max-width: 100px;
    width: 100%;
    li {
      padding: rem-calc(0 15 25 0);
      text-align: right;
      a {
        background: transparent;
        padding: 0;
      }
      &:hover {
        a {
          font-weight: bold;
          &:before {
            @include transition(width 0.3s ease-in-out);
            bottom: rem-calc(-5);
            content: '';
            height: 2px;
            position: absolute;
            max-width: 30px;
            right: 0;
            width: 100%;
          }
        }
      }
    }
    li.active a {
      font-weight: bold;
      color: $dark-grey;
      &:before {
        bottom: rem-calc(-5);
        content: '';
        height: 2px;
        position: absolute;
        max-width: 30px;
        right: 0;
        width: 100%;
      }
      &:hover,
      &:focus {
        background: transparent;
        color: $dark-grey;
      }
    }
  }
}
.tabs-horizontal {
  .nav-tabs {
    border-bottom: transparent;
    margin-bottom: rem-calc(15);
    li a {
      @extend h3;
      padding: rem-calc(0 13 0 0);
      @media (min-width: $screen-sm-min) {
        padding: rem-calc(0 55 0 0);
      }
      &:hover,
      &:focus {
        background: transparent;
        border-color: transparent;
      }
    }
  }
  li.active a {
    background: transparent;
    border: transparent;
    font-weight: bold;
  }
}

.path-node:not(.page-node-type-page).page-node-type-testimonials article.full {
  header {
    max-width: 280px;
    @media(min-width: $screen-md-min) {
      max-width: 1170px;
    }
  }
  .content {
    .field--type-image {
      margin: rem-calc(-10 0 20 0);
      @media (min-width: $screen-sm-min) {
        margin: rem-calc(-100 0 20 0);
      }
      img {
        max-height: 250px;
        max-width: 250px;
      }
    }
    .field--type-text-with-summary {
      margin: rem-calc(30 auto 60);
      max-width: 280px;
      z-index: 1;
      @media(min-width: $screen-sm-min) {
        max-width: 708px;
      }
      @media(min-width: $screen-lg-min) {
        max-width: 1170px;
      }
    }
  }
}