#block-benefits {
  margin-bottom: rem-calc(-10);
  @media (min-width: $screen-sm-min) {
    margin: rem-calc(120 auto -20);
    max-width: 768px;
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 1170px;
  }
  .block-title {
    @extend h1;
    margin: rem-calc(0 0 27);
    text-align: center;
    @media (min-width: $screen-lg-min) {
      margin: rem-calc(0 0 67);
    }
  }
  
  // Styled block container
  .field--name-field-benefits-element-row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    // Benefits checkbox
    .benefits {
      display: flex;
      height: auto;
      margin-bottom: rem-calc(20);
      max-width: 570px;
      width: 100%;
      @media (min-width: $screen-sm-min) {
        height: 70px;

      }
    }
    .check-benefits {
      background-color: $white;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
      border-radius: 50%;
      display: block;
      height: 32px;
      margin-top: rem-calc(-2);
      position: relative;
      width: 36px;
        svg {
        height: 16px;
        left: 0;
        margin: rem-calc(8 auto);
        position: absolute;
        right: 0;
        width: 16px;
      }
    }
    .field--item {
      font-family: $font-lato;
      font-size: rem-calc(20);
      line-height: rem-calc(26);
      margin-left: rem-calc(25);
      max-width: 500px;
      width: 100%;
    }
  }
}

.page-node-type-page {
  .benefits {
    display: flex;
    height: auto;
    margin-bottom: rem-calc(20);
    width: 100%!important;
    @media (min-width: $screen-sm-min) {
      height: 70px;
      width: 48% !important;
    }
  }
}

// View fix style for benefit items.
.field--name-field-benefits-element-row {
  z-index: 1;
  .form-group{
    width: 100%;
  } 
}
.view-benefits-ct {
  .view-content {
    display: block;
    @media (min-width: $screen-sm-min) { 
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
    }
    .field--item {
      width: 100%;
      @media (min-width: $screen-sm-min) {
        min-width: 500px;
      }
    }
  }
}