.paragraph--type--paragraph-blog-wrapper{
  display: flex;
  flex-direction: column;
  @media(min-width: $screen-sm-min) {
    display: block;
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 1170px;
  }
  .field--name-field-tag {
    padding-top: 7px;
  }
  .card-circle-title {
    .field--name-field-title {
      font-weight: 700;
    }
  }
}