#block-call-to-action,
.page-node-type-call-to-actions .call-to-actions .content {
  height: auto;
  max-height: 630px;
  @media (min-width: $screen-sm-min) {
    height: 490px;
  }
  @media (min-width: $screen-lg-min) {
    height: 592px;
  }
  // Styled second block container.
  .call-ta-block {
    display: flex;
    flex-direction: column;
    @media(min-width: $screen-sm-min) {
      display: block;
      max-width: 768px;
      margin: 0 auto;
      position: relative;
      width: 100%;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 1170px;
    }
  }
  .field--name-field-call-text {
    @extend h1;
    color: $white;
    font-size: rem-calc(24);
    height: auto;
    margin: rem-calc(30 auto 50);
    max-height: 235px;
    max-width: 280px;
    overflow: hidden;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      margin: 0 auto;
      max-height: 160px;
      max-width: 350px;
      position: absolute;
      top: rem-calc(128);
    }
    @media (min-width: $screen-lg-min) {
      font-size: rem-calc(40);
      max-height: 230px;
      line-height: rem-calc(55);
      max-width: 575px;
    }
  }
  .field--name-field-call-link {
    @include button-secondary;
    background-color: $white;
    height: 50px;
    margin: rem-calc(50 auto 40);
    max-width: 200px;
    order: 3;
    padding: rem-calc(13 10);
    text-align: center;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      height: 65px;
      padding: rem-calc(20 32);
      position: absolute;
      top: rem-calc(249);
    }
    @media (min-width: $screen-lg-min) {
      margin: 0 auto;
      max-width: 240px;
      top: rem-calc(378);
    }
    a {
      color: $dark-grey;
      font-size: rem-calc(16);
      font-weight: bold;
      line-height: rem-calc(24);
      @media (min-width: $screen-sm-min) {
        font-size: rem-calc(20);
      }
    }
  }
  .field--name-field-call-image {
    max-width: 280px;
    margin: 0 auto;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      max-width: 350px;
      position: absolute;
      right: rem-calc(30);
      top: rem-calc(134);
    }
    @media (min-width: $screen-lg-min) {
      margin-bottom: 0;
      max-width: 550px;
      right: 0;
      top: rem-calc(94);
      width: auto;
    }
  }
}

.page-node-type-call-to-actions .call-to-actions {
  .content {
    background-color: #c5198d;
    position: relative;
  }
}

#block-call-to-action {
  position: relative;
}
