/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the directory for the theme root used to locate images, fonts etc.
$theme-root: '..';

// Set other directories relative to theme root.
$image-path: '#{$theme-root}/images';
$icon-font-path: '#{$theme-root}/bootstrap/assets/fonts/bootstrap/';

$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-lato:                   'Lato', sans-serif;
$font-montserrat:             'Montserrat', sans-serif;


//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:       $screen-lg-min;

// Sites colors
// Primary colors
$white:                       #ffffff;
$fuchsia:                     #c5198d;
$dark-grey:                   #454545;
$dark-grayish:                #9da7a7;
$light-grayish:               #d6dbdb;
$light-gray:                  #e8edf0;
$green:                       #26bf8f;
$yellow:                      #b37f00;
$blue:                        #20438f;

// Secondary colors
$light-pink:                  #f3cee6;
$light-green:                 #cdf3e7;
$light-yellow:                #f6e9ca;
$light-purple:                #d2def2;
$light-blue:                  #e2e9f1;
$pattens-blue:                #e5eef3;

// Other colors
$white-grey:                  #f1f4f5;
$dark-fuchsia:                #af0c7a;


// Dark colors
// TO DO : Make colors change dinamically from UI
$fuchsia-dark:                #C5198D;
$grey-dark:                   #565B66;
$navy-dark:                   #132347;
$ash-dark:                    #9AA1AF;
$blue-dark:                   #1C3877;
