.footer {
  background-image: url("../images/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin-top: 0;
  max-height: 395px;
  padding: rem-calc(0 20);
  width: 100%;
  @media (min-width: $screen-sm-min) {
    max-height: 160px;
    padding: rem-calc(0 30);
  }
  @media (min-width: $screen-lg-min) {
    padding: 0;
  }
}
.region-footer {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  @media (min-width: $screen-lg-min) {
    max-width: 1170px;
  }

  ul.menu--main {
    display: block;
    margin: 0 auto;
    padding-top: rem-calc(10);
    width: 100%;
    border: none;
    @media (min-width: $screen-sm-min) {
      display: flex;
      padding-top: rem-calc(34);
    }
    li.first {
      margin-left: 0;
    }
    li.last {
      margin-right: 0;
    }
    li {
      margin: 0 auto;
      padding: rem-calc(15 0 0 0);
      @media (min-width: $screen-sm-min) {
        padding: 0;
      }
    }
    li a {
      color: $white;
      font-family: $font-lato;
      font-size: rem-calc(16);
      line-height: rem-calc(19);
      margin: 0;
      padding: 0;
      text-align: center;
      &:hover,
      &:focus {
        background-color: transparent;
        color: $dark-grayish;
      }
    }
  }
  #block-termsprivacy {
    display: block;
    padding: 0;
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      padding: rem-calc(32 0 33);
    }
  }
  #block-sociallinks {
    display: block;
    float: none;
    padding: rem-calc(0 0 30 0);
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      float: right;
      padding: rem-calc(54 0 0 0);
    }
  }
  #block-termsprivacy {
    > ul {
      display: block;
      text-align: center;
      list-style: none;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
        text-align: initial;
        padding-left: 0;
      }
      li a {
        color: $white;
        font-family: $font-montserrat;
        font-size: rem-calc(14);
        font-weight: 500;
        line-height: rem-calc(18);
        padding: rem-calc(15 0 0 0);
        @media (min-width: $screen-sm-min) {
          padding: 0;
        }
        &:hover,
        &:focus {
          background-color: transparent;
          color: $dark-grayish;
        }
      }
      li.last {
        padding: rem-calc(0 0 15 0);
        @media (min-width: $screen-sm-min) {
          padding: rem-calc(4 0 0 0);
        }
      }
    }
  }
  .block-block-content {
    display: flex;
  }
}

.menu--social-links {
  display: flex;
  justify-content: center;
  @media (min-width: $screen-sm-min) {
    justify-content: flex-end;
  }
  li.last {
    margin: rem-calc(0 0 0 8);
  }

  li {
    height: rem-calc(16);
    margin: rem-calc(0 8);
    width: rem-calc(16);
    &:hover {
      svg .st0 {
        fill: $dark-grayish;
      }
    }
    a {
      margin-top: rem-calc(-20);
      padding: 0;
      // de adaugat
      width: 100%;
      height: 100%;
      &:hover,
      &:focus {
        background-color: transparent;
        color: $dark-grayish;
      }
    }
  }
}

.copy-right-footer {
  max-height: 50px;
}
.region-copy-right-footer {
  max-height: 50px;
  overflow: hidden;
}
#block-copyright-footer {
  @media (max-width: $screen-xs-max) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem-calc(10 0 10);
  }
}

.copy-right-footer {
  padding: rem-calc(0 20);
  width: 100%;
  @media (min-width: $screen-sm-min) {
    padding: rem-calc(0 30);
  }
  @media (min-width: $screen-lg-min) {
    padding: 0;
  }
  .region-copy-right-footer {
    font-family: $font-montserrat;
    font-size: rem-calc(14);
    font-weight: 500;
    line-height: rem-calc(18);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    @media (min-width: $screen-lg-min) {
      max-width: 1170px;
    }
  }
  .block {
    display: block;
    padding: rem-calc(19 0 13);
    text-align: center;
    @media (min-width: $screen-xs-min) {
      text-align: initial;
    }
    @media (min-width: $screen-sm-min) {
      display: flex;
    }
  }
  .copyright-brand,
  .field--name-body {
    color: $white;
    font-family: $font-montserrat;
    font-size: rem-calc(14);
    font-weight: 500;
    line-height: rem-calc(18);
    margin: 0;
    padding-right: rem-calc(5);
  }
}

/* Color Overwites for Footer */
.dark {
  footer,
  .copy-right-footer {
    color: $white;
  }
}
.lite {
  footer,
  .copy-right-footer {
    color: $white;
  }
}
