html,
body,
.dialog-off-canvas-main-canvas {
  height: 100%;
  margin: 0;
}
.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
}
.toolbar-oriented {
  .toolbar-bar {
    position: fixed;
  }
}
body:not(.path-frontpage) {
  .view {
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(20 30);
    }
  }
}
body.path-frontpage {
  header > h1 {
    display: none;
  }
  .container-fluid > .row > section {
    margin-bottom: rem-calc(50);
    @media (min-width: $screen-lg-min) {
      margin-bottom: rem-calc(95);
    }
  }
  .container-fluid section .region-content section {
    //de trimis
    padding-top: rem-calc(40);
    @media (min-width: $screen-lg-min) {
      padding-top: rem-calc(120);
    }
  }
}
.container-fluid {
  flex: 1;
  width: 100%;
  > .row {
    > section {
      padding: 0;
    }
  }
  section > .region-content {
    section,
    article {
      width: 100%;
      > div:not(.content) {
        padding: rem-calc(0 20);
        @media (min-width: $screen-sm-min) {
          padding: rem-calc(0 30);
        }
        @media (min-width: $screen-lg-min) {
          margin: 0 auto;
          max-width: 1170px;
          padding: 0;
        }
      }
    }
    .view {
      display: flex;
      flex-flow: column;
      margin: 0 auto;
      @media (min-width: $screen-sm-min) {
        max-width: 768px;
      }
      @media (min-width: $screen-lg-min) {
        max-width: 1170px;
        padding: 0;
      }
    }
    .block-views-blockblog-block-1,
    .block-views-blockblog-block-2 {
      .view-blog {
        padding: 0;
      }
    }
    .view-more-projects {
      padding: 0;
      @media (min-width: $screen-lg-min) {
        margin-bottom: rem-calc(130);
      }
    }
  }
  article {
    .content {
      width: 100%;
      > div {
        display: flex;
        flex-direction: column;
        @media (min-width: $screen-lg-min) {
          align-items: center;
        }
        > *:not(.brake-container, .field-name-field-element) {
          @media (min-width: $screen-lg-min) {
            width: 100%;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
        > .brake-container, .field-name-field-element {
          padding: 0 rem-calc(20);
          @media (min-width: $screen-sm-min) {
            margin: 0 auto;
            max-width: 836px;
            padding: 0 rem-calc(30);
          }
          @media (min-width: $screen-lg-min) {
            max-width: 1170px;
            width: 100%;
            padding: 0;
          }
        }

        > ul:not(.brake-container) {
          margin-top: rem-calc(22);
          padding-left: rem-calc(32);
        }
      }
    }
  }
  .navbar-header {
    margin: 0;
    padding: rem-calc(20);
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(30);
    }
    @media (min-width: $screen-lg-min) {
      padding: 0;
    }
  }
}

/* End of basic page width restriction */

.without-scrolling {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
// Global styling for view headers
// Global styling for default translatable markup p
.view-header,
.view-header p {
  font-family: $font-montserrat;
  font-size: rem-calc(32);
  font-weight: 500;
  line-height: rem-calc(39);
  @media (min-width: $screen-lg-min) {
    font-size: rem-calc(48);
    line-height: rem-calc(58);
  }
}
.pointer-click {
  cursor: pointer;
}
::placeholder {
  color: $gray-light;
  font-weight: 300;
  opacity: 1; /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* Firefox */
}
:-ms-input-placeholder {
  color: $gray-light; /* Internet Explorer 10-11 */
}
::-ms-input-placeholder {
  color: $gray-light; /* Microsoft Edge */
}

// Maintenance page
.maintenance-page {
  text-align: center;
  width: 100%;
  .navbar-header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: rem-calc(50);
    width: 100%;
    img {
    height: 300px;
    max-width: 200px;
    width: 100%;
    }
    .m-text {
      margin-left: rem-calc(30);
      max-width: 200px;
      width: 100%;
      p {
        margin: 0;
        padding: 0;
      }
      p.navbar-brand {
        font-size: rem-calc(26);
        height: 40px;
      }
      p.navbar-text {
        float: left;
      }
    }
  }
  main .row {
    margin: 0 auto;
    @media(min-width: $screen-sm-min) {
      max-width: 650px;
      width: 100%;
    }
    @media(min-width: $screen-md-min) {
      max-width: 900px;
      width: 100%;
    }
    section {
      font-size: rem-calc(20);
      @media(min-width: $screen-md-min) {
        font-size: rem-calc(30);
      }
    }
  }
}

