.region-hero-image,
.page-node-type-hero-ct .hero-ct  {
  @media(min-width: $screen-lg-min) {
    margin-bottom: rem-calc(35);
  }
  .field--name-field-landscape,
  .field--name-field-portrait {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
  }
  .field--name-field-landscape {
    background: #132347;
    height: 360px;
    &:before {
      background: rgba(19, 35, 71, 0.6);
      content: "";
      display: block;
      height: 360px;
      position: absolute;
      width: 100%;
      @media (min-width: $screen-sm-min) {
        height: 427px;
      }
      @media (min-width: $screen-lg-min) {
        height: 600px;
      }
    }
    @media (min-width: $screen-sm-min) {
      display: flex;
      align-items: center;
      height: 427px;
    }
    @media (min-width: $screen-lg-min) {
      max-height: 600px;
      margin-top: rem-calc(-70);
    }
    .img-responsive {
      height: 100%;
    }
  }
  .field--name-field-portrait {
    display: none;
  }
  .field--name-field-hero-title,
  .field--name-field-hero-text,
  .field--name-field-hero-link {
    left: 0;
    margin: 0 auto;
    max-width: 710px;
    position: absolute;
    right: 0;
    text-align: center;
    @media (min-width: $screen-lg-min) {
      max-width: 770px;
    }
  }
  .field--name-field-hero-title,
  .field--name-field-hero-title > p {
    @extend h1;
    color: $white;
    top: rem-calc(50);
    @media (min-width: $screen-xs-min) {
      top: rem-calc(80);
    }
    @media (min-width: $screen-sm-min) {
      top: rem-calc(100);
    }
    @media (min-width: $screen-lg-min) {
      top: rem-calc(150);
    }
  }
  .field--name-field-hero-text {
    @extend p;
    color: $white;
    top: rem-calc(135);
    padding: rem-calc(0 15);
    @media (min-width: $screen-xs-min) {
      top: rem-calc(155);
    }
    @media (min-width: $screen-sm-min) {
      padding: 0;
      top: rem-calc(190);
    }
    @media (min-width: $screen-lg-min) {
      top: rem-calc(240);
    }
  }
  .field--name-field-hero-link {
    @include button-primary;
    height: 50px;
    margin: 0 auto;
    max-width: 169px;
    padding: rem-calc(15 24);
    top: rem-calc(285);
    @media (min-width: $screen-xs-min) {
      top: rem-calc(280);
    }
    @media (min-width: $screen-sm-min) {
      top: rem-calc(311);
    }
    a {
      align-items: center;
      color: $white;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.page-node-type-hero-ct {
  .hero-ct {
    margin-bottom: 0;

    header h1 {
      display: none;
    }

    .field--name-field-landscape {
      margin-bottom: 0;
      margin-top: rem-calc(-30);

      @media (min-width: $screen-lg-min) {
        height: 600px;
      }

      &::before {
        z-index: 1;
      }

      .img-responsive {
        height: 100%;
        margin: 0;
        max-width: 100%;
        padding: 0;
        position: relative;
        z-index: 0;
      }
    }

    .field--name-field-hero-title,
    .field--name-field-hero-text,
    .field--name-field-hero-link {
      z-index: 2;
    }
  }
  .field--name-field-hero-text {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .container-fluid article .content > div {
    > *:not(.brake-container) {
      margin-left: 0;
    }
    .field--name-field-hero-link {
      max-width: 208px;
    }
  }
}

body:not(.user-logged-in) :not(.toolbar-horizontal), :not(.toolbar-vertical) {
  .region-hero-image {
    .field--name-field-landscape {
      @media (min-width: $screen-lg-min) {
        height: 660px;
        margin-bottom: rem-calc(30);
      }
    }
    .hero_image.menu--main {
      margin-top: rem-calc(-30);
    }
  }
}

// Second block - Hero left side
.hero-left-alignment {
  .hero-content {
    left: 0;
    margin: 0 auto;
    max-width: 1170px;
    position: absolute;
    right: 0;
    top: rem-calc(13);
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      top: rem-calc(-47);
    }
    .field--name-field-hero-title,
    .field--name-field-hero-text,
    .field--name-field-hero-link {
      margin: rem-calc(0 20);
      @media (min-width: $screen-sm-min) {
        margin: rem-calc(0 32);
      }
      @media (min-width: $screen-lg-min) {
        margin: 0;
      }
    }
    .field--name-field-hero-title {
      max-width: 100%;
      text-align: left;
      @media(max-width: $screen-xs-max) {
        overflow: hidden;
        white-space: nowrap;
      }
      @media (min-width: $screen-md-min) {
        top: rem-calc(150);
      }
    }
    .field--name-field-hero-text {
      max-width: 100%;
      padding: 0;
      text-align: left;
      p {
        max-width: 500px;
      }
      @media (min-width: $screen-md-min) {
        top: rem-calc(240);
      }
    }
    .field--name-field-hero-link {
      max-width: 208px;
      right: 100%;
      width: 100%;
      @media (min-width: $screen-sm-min) {
        top: rem-calc(323);
      }
      @media (min-width: $screen-md-min) {
        height: 65px;
        padding: rem-calc(20 32);
        top: rem-calc(373);
      }
      a {
        font-size: rem-calc(20);
      }
    }
  }
}
#block-heroblockleft,
#block-views-block-hero-block-left-ct-block-1,
.page-node-type-hero-left-ct .hero-left-ct {
  background: #132347;
  height: 600px;
  @media (min-width: $screen-sm-min) {
    height: 500px;
  }
  @media (min-width: $screen-lg-min) {
    height: 600px;
    margin: rem-calc(-70 0 25);
  }
  .hero-left-block {
    padding: rem-calc(100 20 0);
    position: relative;
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(50 30 0);
    }
    @media (min-width: $screen-lg-min) {
      margin: 0 auto;
      max-width: 1170px;
      padding: 0;
    }
  }
  .field--name-field-hero-left-text {
    height: auto;
    margin: rem-calc(0 auto 20);
    max-width: 500px;
    overflow: hidden;
    text-overflow: hidden;
    width: auto;
    color: $white;
    @media (min-width: $screen-sm-min) {
      height: 98px;
      margin: rem-calc(0 auto 40);
      max-width: 340px;
      position: absolute;
      top: rem-calc(192);
    }
    @media (min-width: $screen-lg-min) {
      height: 90px;
      font-size: rem-calc(20);
      max-width: 470px;
      top: rem-calc(222);
    }
    p {
      font-family: $font-lato;
      font-size: rem-calc(18);
      line-height: rem-calc(24);
      color: $white;
      @media (min-width: $screen-lg-min) {
        font-size: rem-calc(20);
        line-height: rem-calc(28);
      }
    }
  }
  .field--name-field-hero-left-link {
    @include button-primary;
    height: 50px;
    margin: 0 auto;
    max-width: 160px;
    padding: rem-calc(10 27);
    text-align: center;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      margin: rem-calc(40 auto 0);
      max-width: 170px;
      position: absolute;
      top: rem-calc(300);
    }
    @media (min-width: $screen-lg-min) {
      height: 65px;
      max-width: 208px;
      padding: rem-calc(20 32);
    }
    a {
      color: $white;
      font-family: $font-lato;
      font-size: rem-calc(16);
      font-weight: bold;
      line-height: rem-calc(24);
      @media (min-width: $screen-lg-min) {
        font-size: rem-calc(20);
      }
    }
  }
  .field--name-field-hero-left-image {
    margin: rem-calc(0 auto 20);
    max-width: 500px;
    width: auto;
    right: 0;
    @media (min-width: $screen-sm-min) {
      margin: rem-calc(0 auto 40);
      max-width: 736px;
      position: absolute;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 100%;
      margin-right: 0;
    }
    @media only screen and (min-width: 1462px) {
      margin-right: rem-calc(-135);
    }
  }
}

body.path-node.page-node-type-hero-left-ct article.hero-left-ct {
  margin: rem-calc(-30 0 0);

  &::before {
    background: transparent;
  }

  header h1 {
    display: none;
  }

  .field--name-field-hero-left-link {
    z-index: 1;

    a {
      padding: 0;
    }
  }

  .hero-left-block.content .field--type-text-with-summary {
    order: unset;
  }
}
