.page-node-type-article,
.page-node-type-portofolio {
  .container-fluid {
    article {
      width: 100%;
      .field--name-body {
        margin: 0 20px;
        padding: 22px 0;
        @media (min-width: $screen-sm-min) {
          margin: 0 30px;
          padding: 22px 0;
        }
        @media (min-width: $screen-md-min) {
          max-width: 836px;
          width: 100%;
          margin: 0 auto;
          padding: 22px 0;
        }
      }
    }
  }
}
.homepage-hero {
  margin-top: -70px;
  margin-bottom: 30px;
}
.field--name-field-element,
.homepage-hero {
  .hero-image {
    padding: 0 !important;
  }
  //Full width with 2 images.
  .hero-image.image-full-width {
    .hero-full-width {
      width: 100%;
      position: relative;
      display: block;
      margin: 0 auto;
      .field--name-field-full-size-image {
        position: relative;
        height: 400px;
        @media (min-width: $screen-sm-min) {
          display: flex;
          align-items: center;
          height: 450px;
        }
        @media (min-width: $screen-lg-min) {
          max-height: 800px;
          height: 570px;
        }
        @media (min-width: 1600px) {
          max-height: 800px;
          height: 750px;
        }
        .img-responsive {
          height: 100%;
          object-fit: cover;
          width: auto;
        }
      }
      .field--name-field-full-size-image,
      .field--name-field-small-size-image {
        flex-direction: column;
        overflow: hidden;
      }
      .field--name-field-small-size-image {
        display: none;
      }
      .field--name-field-hero-title {
        padding: 0 20px;
        @media (min-width: $screen-sm-min) {
          padding: 0
        }
      }
      .field--name-field-hero-title,
      .field--name-field-hero-subtitle,
      .field--name-field-hero-button-link {
        left: 0;
        margin: 0 auto;
        max-width: 710px;
        position: absolute;
        right: 0;
        @media (min-width: $screen-lg-min) {
            max-width: 770px;
        }
      }
      .text-center {
        .field--name-field-hero-button-link {
            right: 0;
        }
      }
      .text-left {
        .field--name-field-hero-title {
          margin: 0;
          @media (min-width: $screen-xs-min) {
            left: 0;
            right: 0;
            top: rem-calc(140);
          }
          @media (min-width: $screen-sm-min) {
            margin: 0 auto;
          }
        }
        .field--name-field-hero-subtitle {
          left: rem-calc(20);
          margin: 0;
          @media (min-width: $screen-xs-min) {
            left: 0;
            margin: 83px auto 0;
          }
        }
        .field--name-field-hero-button-link {
          right: rem-calc(180);
          left: rem-calc(20);
          margin: 0;
          @media (min-width: $screen-xs-min) {
            right: rem-calc(200);
            left: rem-calc(20);
            top: rem-calc(290)
          }
          @media (min-width: $screen-sm-min) {
            right: rem-calc(563);
            margin: 97px auto 0;
          }
          @media (min-width: $screen-lg-min) {
            right: rem-calc(620);
          }
        }
      }
      .text-right {
        .field--name-field-hero-title {
          right: rem-calc(20);
          margin: 0;
          @media (min-width: $screen-xs-min) {
            right: 0;
          }
          @media (min-width: $screen-sm-min) {
            margin: 0 auto;
          }
        }
        .field--name-field-hero-button-link {
          left: rem-calc(180);
          right: rem-calc(20);
          margin: 0;
          @media (min-width: 400px) {
            left: rem-calc(220);
            right: rem-calc(20);
            margin: 0 auto;
          }
          @media (min-width: $screen-xs-min) {
            margin-right: 0;
          }
          @media (min-width: $screen-sm-min) {
            left: rem-calc(560);
            margin: 0 auto;
          }
          @media (min-width: $screen-lg-min) {
            left: rem-calc(620);
          }
        }
      }
      .field--name-field-hero-title {
        @extend h1;
        color: $white;
        top: rem-calc(110);
        @media (min-width: $screen-sm-min) {
          top: rem-calc(80);
        }
        @media (min-width: $screen-lg-min) {
          top: rem-calc(150);
        }
      }
      .field--name-field-hero-subtitle {
        @extend p;
        color: $white;
        top: rem-calc(85);
        padding: rem-calc(0 15);
        display: none;
        @media (min-width: $screen-xs-min) {
          top: rem-calc(105);
          display: none;
        }
        @media (min-width: $screen-sm-min) {
          padding: 0;
          top: rem-calc(125);
          display: block;
        }
        @media (min-width: $screen-lg-min) {
          top: rem-calc(210);
          display: block;
        }
      }
      .field--name-field-hero-button-link {
        @include button-primary;
        height: 40px;
        margin: 0 auto;
        max-width: 169px;
        padding: rem-calc(15 24);
        top: rem-calc(155);
        @media (min-width: $screen-xs-min) {
          height: 50px;
        }
        @media (min-width: $screen-sm-min) {
          top: rem-calc(200);
        }
        @media (min-width: $screen-lg-min) {
          top: rem-calc(290);
        }
        a {
          align-items: center;
          color: $white;
          bottom: 0;
          display: flex;
          justify-content: center;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      .hero-photo-details {
        padding: rem-calc(20 30);
        position: absolute;
        top: rem-calc(220);
        .field--name-field-hero-photo-details {
          background: rgba(19, 35, 71, 0.6);
          opacity: 0.8;
          padding: 10px;
        }
        @media (min-width: $screen-sm-min) {
          top: rem-calc(300);
          padding: rem-calc(30 100);
        }
        @media (min-width: $screen-lg-min) {
          top: rem-calc(400);
          padding: rem-calc(30 200);
        }
        @media (min-width: 1600px) {
          top: rem-calc(600);
          padding: rem-calc(30 250);
        }
        h6 {
          color: #fff;
          font-size: 1.6rem;
        }
      }
    }
  }
 
  //Fixed image on right.
  .hero-image.image-fixed-on-right {
    background: #132347;
    .hero-full-width {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column-reverse;
      padding-top: 165px;
      @media (min-width: $screen-lg-min) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        height: 660px;
        max-width: 1173px;
        width: 100%;
        margin: 0 auto;
        padding-top: 0;
      }
      .field--name-field-full-size-image {
        .img-responsive {
          width: 100%;
          height: 100%;
          max-width: 250px;
          max-height: 321px;
          margin: 15px auto 30px;
          @media (min-width: $screen-lg-min) {
            max-width: 500px;
            max-height: 535px;
            margin: auto;
          }
        }
      }
      .field--type-image {
        margin-bottom: 0 !important;
        padding-right: 0;
      }
      .field--name-field-small-size-image {
        display: none;
      }
      .hero-content {
        text-align: center !important;
        @media (min-width: $screen-lg-min) {
          text-align: left !important;
        }
      }
      .field--name-field-hero-title,
      .field--name-field-hero-subtitle,
      .field--name-field-hero-button-link {
        max-width: 100%;
        width: 100%;
        padding: 0 30px 6px;
        @media (min-width: $screen-lg-min) {
          padding: 0 0 6px;
          max-width: 592px;
        }
      }
      .field--name-field-hero-title {
        @extend h1;
        color: $white;
      }
      .field--name-field-hero-subtitle {
        @extend p;
        color: $white;
      }
      .field--name-field-hero-button-link {
        @include button-primary;
        max-width: 169px;
        padding: rem-calc(15 24);
        margin: 16px auto;
        @media (min-width: $screen-lg-min) {
          margin: 16px 0 0;
        }
        a {
          align-items: center;
          color: $white;
          display: inline-block;
          width: max-content;
        }
      }
      .hero-photo-details {
        padding: rem-calc(20 30);
        position: absolute;
        top: rem-calc(220);
        .field--name-field-hero-photo-details {
          background: rgba(19, 35, 71, 0.6);
          opacity: 0.8;
          padding: 10px;
        }
        @media (min-width: $screen-sm-min) {
          top: rem-calc(300);
          padding: rem-calc(30 100);
        }
        @media (min-width: $screen-lg-min) {
          top: rem-calc(400);
          padding: rem-calc(30 200);
        }
        @media (min-width: 1600px) {
          top: rem-calc(600);
          padding: rem-calc(30 310);
        }
        h6 {
          color: #fff;
          font-size: 1.6rem;
        }
      }
    }
  }
}
.page-node-type-page {
  .container-fluid {
      article {
        width: 100%;
        //body field
        .field--name-body {
          margin: 0 20px;
          padding: 22px 0;
          @media (min-width: $screen-sm-min) {
            margin: 0 30px;
            padding: 22px 0;
          }
          @media (min-width: $screen-md-min) {
            max-width: 836px;
            width: 100%;
            margin: 0 auto;
            padding: 22px 0;
          }
        }
        > div {
          width: 100%;
        }
      }
    }
  }

  .paragraph--type--paragraph-title {
    margin: 0 20px;
    @media (min-width: $screen-sm-min) {
      margin: 0 30px;
    }
    @media (min-width: $screen-md-min) {
      max-width: 836px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .paragraph--type--paragraph-with-body,
  .paragraph--type--block-quote,
  .paragraph--type--attachment {
    margin: 0 20px;
    @media (min-width: $screen-sm-min) {
      margin: 0 30px;
    }
    @media (min-width: $screen-md-min) {
      max-width: 836px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .paragraph--type--hero-image-cta {
    position: relative;
    height: 100%;
    margin: 0;
    @media (min-width: $screen-lg-min) {
      height: 592px;
    }
    .cta-content {
      display: block;
      padding: 0 30px;
      width: 100%;
      @media (min-width: $screen-lg-min) {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
      }
    }
    .cta-content-box {
      max-width: 100%;
      padding-top: 10px;
      @media(min-width: $screen-lg-min) {
        max-width: 50%;
        padding-top: 0;
      }
    }
    .cta-content-box-sec {
      max-width: 100%;
      padding-bottom: 10px;
      @media(min-width: $screen-lg-min) {
        max-width: 50%;
      }
    }
    .field--name-field-hero-title {
      @extend h1;
      color: $white;
      height: auto;
      width: 100%;
      text-align: center;
      @media (min-width: $screen-sm-min) {
        margin: 0;
        margin-bottom: 10px;
        max-height: 160px;
        padding-top: 30px;
      }
      @media (min-width: $screen-lg-min) {
        max-height: 230px;
        max-width: 575px;
        padding-top: 50px;
        text-align: left;
      }
    }
    .field--name-field-hero-subtitle {
      @extend p;
      color: $white;
      padding: rem-calc(0);
      text-align: center;
      @media (min-width: $screen-sm-min) {
        padding: 0;
      }
      @media (min-width: $screen-lg-min) {
        margin-top: 20px;
        text-align: left;
      }
    }
  
    .field--name-field-hero-cta-image {
      margin: 30px auto 10px;
      width: 100%;
      max-height: auto;
      max-width: 150px;
      @media (min-width: $screen-sm-min) {
        max-height: 455px;
        max-width: 230px;
        display: block;
      }
      @media (min-width: $screen-lg-min) {
        margin-top: -75px;
        width: 100%;
        max-height: 740px;
        max-width: 370px;
        display: block;
      }
    }
    .field--name-field-hero-button-link {
      @include button-secondary;
      height: 50px;
      margin: 20px auto 0;
      max-width: 200px;
      order: 3;
      padding: rem-calc(13 10);
      text-align: center;
      width: 100%;
      @media (min-width: $screen-sm-min) {
        height: 65px;
        padding: rem-calc(20 32);
        margin: rem-calc(26) auto 0;
      }
      @media (min-width: $screen-lg-min) {
        margin: 0;
        max-width: 240px;
        margin-top: 50px;
      }
      a {
        font-size: rem-calc(16);
        font-weight: bold;
        line-height: rem-calc(24);
        @media (min-width: $screen-sm-min) {
          font-size: rem-calc(20);
        }
      }
    }
  }
  .paragraph--type--horizontal-tabs-wrapper {
    .field--name-field-tab-subtitle {
      padding: 0 0 5rem;
      text-align: center;
      font-family: "Lato",sans-serif;
      font-size: 2rem;
      line-height: 2.8rem;
    }
  
    .a11y-paragraphs-tabs__section-title {
      a:hover,
      p > a:hover,
      a,
      p > a {
        background: transparent;
      }
    }
  
    .nav > li > a:hover,
    .nav > li > a:focus {
      background: transparent;
    }
    // UNV style tabs.
    .a11y-paragraphs-tabs__wrapper > .container > .accordion-tabs > .view-title-section > ul.nav-tabs {
      @media (min-width: $screen-sm-min) {
      }
      li {
        a {
          display: initial;
          margin-right: 0;
          padding: rem-calc(10 30 7 0);
          font-weight: normal;
          &:hover,
          &:focus {
            font-weight: normal;
          }
        }
      }
      > li.active {
        a {
          display: initial;
          font-weight: normal;
        }
      }
    }
    .nav > li > a {
      margin-right: rem-calc(30);
    }
  
    .field--name-field-a11y-para-tabs-text-area {
      .field--item:first-of-type {
        padding-left: 0;
      }
      .field--item:last-of-type {
        padding-right: 0;
      }
      .field--item {
        padding-top: 15px;
        padding-bottom: 20px;
      }
    }
  
    // Tabs and accordion.
    .a11y-paragraphs-tabs__wrapper .tabs-trigger {
      margin-right: auto;
    }
    .a11y-paragraphs-tabs__wrapper a.tabs-trigger.is-selected,
    .a11y-paragraphs-tabs__wrapper .accordeon-trigger[aria-expanded="true"] {
      &:before {
        width: 100%;
      }
    }
    .paragraph--type--a11y-paragraphs-tab-content {
      clear: both;
      h3 {
        text-align: center;
        clear: both;
        margin-bottom: 0;
      }
    }
    .a11y-paragraphs-tabs__wrapper a.tabs-trigger,
    .a11y-paragraphs-tabs__wrapper .accordeon-trigger {
      position: relative;
      outline: none !important;
      font-size: rem-calc(20);
      line-height: rem-calc(28);
      margin: rem-calc(0 0 12 0);
    }
    .a11y-paragraphs-tabs__wrapper .accordeon-trigger {
      &:before {
        right: auto;
      }
    }
    .view-content-section {
      padding: 0;
      @media (min-width: $screen-sm-min) {
        padding: 0 15px;
      }
    }
    section > .accordeon-trigger {
      padding: 0 !important;
    }
    .a11y-paragraphs-tabs__wrapper .tabs-trigger:hover,
    .a11y-paragraphs-tabs__wrapper .accordeon-trigger:hover {
      &:before {
        @include transition(width 0.5s ease-in-out);
        width: 100%;
      }
    }
    .a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected,
    .a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected:hover,
    .a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected:focus,
    .a11y-paragraphs-tabs__wrapper .accordeon-trigger[aria-expanded="true"] {
      background: none;
      border-bottom: none;
    }
  
    .tabs-tab-list {
      @media (min-width: $screen-sm-min) {
      }
    }
  }
  .a11y-paragraphs-tabs__wrapper .tabs-allowed .tabs-panel {
    border: none;
  }
  .paragraph--type--accordion-paragraph, .paragraph--type--a11y-paragraphs-tab-content {
    padding: 0 rem-calc(20);
    @media (min-width: $screen-sm-min) {
      margin: 0 auto 0;
      padding: 0 rem-calc(30);
      width: 100%;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 1170px;
      padding: 0;
    }
  }
  
  .paragraph--type--articles-listing-paragraph {
    h2 {
      text-align: center;
      padding-bottom: 30px;
    }
    .field--name-field-hero-button-link {
      @include button-primary;
      margin: 0 auto;
      max-width: 169px;
  
      a {
        align-items: center;
        color: $white;
        display: flex;
        justify-content: center;
      }
    }
  }
  
  .container-fluid {
    flex: 1;
    width: 100%;
    > .row {
      > section {
        padding: 0;
      }
    }
    section > .region-content {
      section,
      article {
        width: 100%;
        > div:not(.content) {
          padding: rem-calc(0 20);
          @media (min-width: $screen-sm-min) {
            padding: rem-calc(0 30);
          }
          @media (min-width: $screen-lg-min) {
            margin: 0 auto;
            padding: 0;
          }
        }
      }
      .view {
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        @media (min-width: $screen-sm-min) {
          max-width: 768px;
        }
        @media (min-width: $screen-lg-min) {
          max-width: 1170px;
          padding: 0;
        }
      }
      .block-views-blockblog-block-1,
      .block-views-blockblog-block-2 {
        .view-blog {
          padding: 0;
        }
      }
      .view-more-projects {
        padding: 0;
        @media (min-width: $screen-lg-min) {
          margin-bottom: rem-calc(130);
        }
      }
    }
    article {
      /* content width restriction on articles */
      .content {
        width: 100%;
        > div {
          display: flex;
          flex-direction: column;
          > *:not(.brake-container, .field-name-field-element) {
            @media (min-width: $screen-lg-min) {
              width: 100%;
              padding: 0;
              margin-left: auto;
              margin-right: auto;
            }
          }
          > .brake-container, .field-name-field-element {
            padding: 0 rem-calc(20);
            @media (min-width: $screen-sm-min) {
              margin: 0 auto;
              max-width: 836px;
              padding: 0 rem-calc(30);
            }
            @media (min-width: $screen-lg-min) {
              max-width: 1170px;
              width: 100%;
              padding: 0;
            }
          }
  
          > ul:not(.brake-container) {
            margin-top: rem-calc(22);
            padding-left: rem-calc(32);
          }
        }
      }
      /* end content width restriction */
    }
    .navbar-header {
      margin: 0;
      padding: rem-calc(12 20);
      @media (min-width: $screen-sm-min) {
        padding: rem-calc(30);
      }
      @media (min-width: $screen-lg-min) {
        padding: 0;
      }
    }
  }

//Fix element hero when is not in top.
.field--item.hero-image {
  .hero-full-width {
    padding-top: 0 !important;
  }
}