// Paragraph image small image.
.paragraph--type--small-image-text {
  padding: 0 rem-calc(20) 0;
  @media (min-width: $screen-sm-min) {
    margin: auto;
    padding: 0 rem-calc(30) 0;
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 1170px;
    padding: 0;
  }

  // Title card.
  .field--name-field-title-element {
    @extend h3;
    font-weight: bold;
    padding-bottom: 20px;
  }

  // Add smaller font on body element.
  .field--name-field-body > p {
    font-size: 16px;
  }
  .field--name-field-body > ul {
    font-size: 16px;
  }

  // Cards style.
  .class-1-column,
  .class-2-columns,
  .class-3-columns,
  .class-4-columns {
    .field--name-field-wra {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      > .field--item {
        display: inline-block;
        padding: 0 0 rem-calc(15);
        @media (min-width: $screen-sm-min) {
          padding: 0 rem-calc(15) rem-calc(15);
        }
      }
      > .field--item:first-of-type {
        padding-left: 0;
      }
      > .field--item:last-of-type {
        padding-right: 0;
      }
    }
  }

.class-4-columns-img-large {
  .field--name-field-wra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    > .field--item {
      padding: 0 0 rem-calc(20);
      margin: 0 auto;
    }
  }
}

  .class-4-columns {
    .field--name-field-wra {
      > .field--item {
        width: 100%;
        @media (min-width: $screen-sm-min) {
          width: 50%;
        }
        @media (min-width: $screen-md-min) {
          width: 25%;
        }
      }
    }
  }

  .class-3-columns {
    .field--name-field-wra {
      > .field--item {
        padding: 0 0 rem-calc(15) 0;
        width: 100%;
        @media (min-width: $screen-md-min) {
          padding: 0 rem-calc(15) rem-calc(15);
          width: 33.33%;
        }
      }
    }
  }

  .class-2-columns {
    .field--name-field-wra {
      > .field--item {
        width: 100%;
        @media (min-width: $screen-sm-min) {
          width: 50%;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-sm-min) {
      flex-direction: row;
    }
    .wrapper-text {
      padding: 20px 0 0;
      @media (min-width: $screen-sm-min) {
        padding: 0 0 0 rem-calc(30);
        align-self: center;
      }
      .field--name-field-title-element {
        margin-top: 0;
      }
    }
  }

  .circle,
  .square {
    align-self: center;
    img {
      max-width: 163px;
      max-height: 163px;
    }
  }

  .class-1-column {
    max-width: 836px;
    margin: 0 auto;
    .field--name-field-wra {
      > .field--item {
        width: 100%;
        padding: rem-calc(15) 0;
        .circle,
        .square {
          margin: inherit;
        }
      }
    }
  }

  .circle{
    img {
      border-radius: 50%;
    }
  }

  .square-big {
    position:relative;
    img {
      max-width: 290px;
      max-height: 290px;
      border-radius: 3%;
      margin: 0 auto;
    }
  }

  .bottom {
    text-align: center;
    .square,
    .circle  {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
    }
  }

  .field--type-image {
     margin-bottom: 0 !important;
  }
}