// Add style to paragraph type list.
.listing-type-wrapper {
  clear: both;
  margin: auto;
  padding: rem-calc(0 20);
  @media (min-width: $screen-sm-min) {
    padding: 0 rem-calc(30);
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 1170px;
    padding: 0;
  }
}

// Title paragraph field.
.field--name-field-title-listing  {
  @extend h1;
  padding-bottom: rem-calc(10);
  text-align: center;
  @media (min-width: $screen-sm-min) {
    padding-bottom: rem-calc(15);
  }
}

// Subtitle field.
.field--name-field-subtitle {
  margin: 0 auto;
  padding: 0 0 rem-calc(30);
  @media (min-width: $screen-sm-min) {
    max-width: 100%;
    text-align: left;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 870px;
    padding: 0 0 rem-calc(50);
    text-align: center;
  }
}

// Listing include image icon.
.wrapp-list {
  display: flex;
  min-height: 50px;
  padding-bottom: rem-calc(20);
  .list-element {
    font-size: rem-calc(20);
    line-height: rem-calc(26);
    margin-left: rem-calc(25);
    padding-right: rem-calc(24);
    width: 100%;
    p {
      word-break: break-word;
    }
    a, p > a,
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }
  .field--name-field-icon {
    margin-top: rem-calc(1);
    @media (min-width: $screen-sm-min) {
      margin-top: rem-calc(3);
    }
    img {
      max-height: 40px;
      max-width: 40px;
    }
  }
}

// Aligne column 2.
.colums-2  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .wrapp-list {
    width: 100%;
    @media (min-width: $screen-sm-min) {
      width: 50%;
    }
  }
}

// Aligne column 3.
.colums-3  {
  .wrapp-list {
    width: 100%;
    float: none;
    @media (min-width: $screen-sm-min) {
      width: 33.33%;
      float: left;
    }
  }
}

// Add padding bottom after the colums.
.field--name-field-element > .field--item {
  padding-bottom: 0;
  @media (min-width: $screen-sm-min) {
    padding-bottom: rem-calc(30);
  }
}