// carousel
.carousel-inner,
.carousel.slide {
  height: 100%;
}

.carousel-control,
.carousel-control:hover,
.carousel-control:active,
.carousel-control:focus {
  background-image: none;
  background-position: center;
  background-size: 16px 16px;
  opacity: 1;
}

.left.carousel-control {
  background: transparent;
  height: 16px;
  // left: rem-calc(-20);
  top: 50%;
  width: 16px;
  @media (min-width: $screen-md-min) {
    left: rem-calc(30);
  }
}

.right.carousel-control {
  background: transparent;
  height: 16px;
  // right: rem-calc(-20);
  top: 50%;
  width: 16px;
  @media (min-width: $screen-md-min) {
    right: rem-calc(30);
  }
}
