// Paragraph buttons.
.paragraph--type--paragraph-buttons {
  display: flex;
  margin: rem-calc(30) auto;
  padding: 0 rem-calc(20);
  clear: both;

  @media (min-width: $screen-sm-min) {
    margin: rem-calc(40) auto;
    padding: 0 rem-calc(30);
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(50);
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    margin: rem-calc(50) auto;
    max-width: 1170px;
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(50);
  }
  .field--name-field-right-button,
  .field--name-field-left-bu {
    width: 100%;
    a {
      color: $white;
      font-size: 16px;
      opacity: 0.6;
      padding: rem-calc(10 20);
      @media (min-width: $screen-sm-min) {
        font-size: 20px;
        padding: rem-calc(15 30);
      }
    }
    a:hover,
    a:active,
    a:focus {
      opacity: 1;
    }
  }
  .field--name-field-right-button{
    text-align: end;
  }
}