// Width exception from the container
.container-fluid section > .region-content {
  .view-portofolio {
    max-width: 1440px;
  }
  .block-views-blockportofolio-block-portofolio {
    > div.form-group {
      align-items: center;
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
  }
}
#portfolio {
    margin-bottom: rem-calc(-50);
  @media (min-width: $screen-sm-min) {
    margin-bottom: rem-calc(-70);
  }
  @media (min-width: $screen-lg-min) {
    margin-bottom: 0;
  }
}
// Centering section
#block-views-block-portofolio-block-portofolio {
  > div {
    margin: 0;
    width: 100%;
    @media (min-width: $screen-md-min) {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 1024px;
      overflow: hidden;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 1440px;
    }
  }
  > div {
    max-width: 100%;
  }
}
// Portofolio Block from the landing page
.view-portofolio,
.paragraph--type--slider-wrapper- {
  margin: 0 auto;
  width: 100%;
  @media (min-width: $screen-md-min) {
    overflow: hidden;
    max-width: 1024px;
  }
  @media (min-width: $screen-lg-min) {
    margin-top: rem-calc(45);
    max-width: 1200px;
  }
  @media (min-width: 1440px) {
    max-width: 1440px;
  }

  .view-header,
  .field--name-field-title  {
    display: flex;
    justify-content: center;
    padding-bottom:rem-calc(24);
    width: 100%;
    @media (min-width: $screen-sm-min) {
      margin-bottom: rem-calc(-50);
      padding: rem-calc(30 0 24);
    }
    @media (min-width: $screen-md-min) {
      margin-bottom: 0;
    }
    @media (min-width: $screen-lg-min) {
      padding: rem-calc(0 0 34);
    }
  }

  .view-content {
    position: relative;
  }

  .view-content,
  .slider-size {
    height: 100%;
    max-height: 610px;
    @media (min-width: $screen-md-min) {
      max-height: 391px;
    }
    @media (min-width: $screen-lg-min) {
      margin: 0;
      max-height: 550px;
    }
  }

  .views-row {
    display: flex;
    flex-direction: column;
    height: 100%;
    @media (min-width: $screen-sm-min) {
      flex-direction: row;
    }
  }

  .image {
    overflow: hidden;
    @media (min-width: $screen-sm-min) {
      min-height: 294px;
    }

    @media (min-width: $screen-md-min) {
      height: 100%;
    }

    .image-container {
      align-items: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
      overflow: hidden;
      @media (max-width: $screen-sm-max) {
        height: 100%;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        max-width: 550px;
        width: 100%;
      }
      @media (min-width: $screen-md-min) {
        width: 95%;
      }
    }
    img {
      transform: scale(1.5);
      width: 100%;
      @media (min-width: $screen-md-min) {
        height: 100%;
        max-width: unset;
        transform: scale(1);
        width: auto;
      }
    }
  }
  .card {
    min-height: auto;
    position: relative;
    padding-bottom: 40px;
    @media (min-width: $screen-sm-min) {
      max-width: 550px;
      min-height: 465px;
      width: 100%;
      padding-bottom: 0;
    }
    @media (min-width: $screen-md-min) {
      margin-left: rem-calc(-25);
    }
    @media (min-width: $screen-lg-min) {
      margin-left: rem-calc(-40);
      min-width: 480px;
    }
  }

  .row.title {
    @extend h2;
    margin-bottom: rem-calc(14);
    overflow: hidden;
    padding: rem-calc(14 24 24 35);
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(56 24 24 40);
      text-overflow: inherit;
      white-space: inherit;
    }
    @media (min-width: $screen-md-min) {
      padding: rem-calc(1 30 24 30);
      width: auto;
    }
    @media (min-width: $screen-lg-min) {
      min-height: 110px;
      min-width: 480px;
      padding: rem-calc(32 20 0 49);
    }
  }

  .row.text {
    margin: rem-calc(-30 0 30);
    min-height: 190px;
    padding: rem-calc(0 15 0 22);
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(0 40 0 26);
    }
    @media (min-width: $screen-md-min) {
      margin: rem-calc(-60 0 30);
      min-height: 247px;
      padding: rem-calc(20 50 0 18);
    }
    @media (min-width: $screen-lg-min) {
      min-height: 311px;
      padding: rem-calc(62 64 0 35);
    }
  }

  .link-to-content {
    margin: rem-calc(0 22 200);
    position: absolute;
    bottom: auto;
    @media (min-width: $screen-sm-min) {
      margin: rem-calc(0 22 24 18);
    }
    @media (min-width: $screen-lg-min) {
      margin: rem-calc(31 0 0 35);
      bottom: 14px;
    }

    .view-node {
      a {
        @include button-primary;
        font-weight: normal;
      }
    }
  }
}


.block-views-blockmore-projects-block-1 {
  order: 2;
  @media (min-width: $screen-sm-min) {
    margin: rem-calc(-30 0);
  }
  .view-more-projects {
    .view-header {
      @extend h2;
      margin: rem-calc(0 auto 35);
    }
    .card-type-square-list {
      margin: 0;
      @media (min-width: $screen-sm-min) {
        margin: rem-calc(0 -30 0 0);
      }
    }
  }
}
