.paragraph--type--slider-wrapper- {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  .field--name-field-title  {
    @extend h2;
  }
  .field--name-field-body-slider {
    @extend p;
  }
  .left.carousel-control {
    left: 0;
    @media (min-width: $screen-md-min) {
      left: rem-calc(30);
    }
  }

  .right.carousel-control {
    right: 0;
    @media (min-width: $screen-md-min) {
      right: rem-calc(30);
    }
  }
}

.paragraph--type--slider-paragraph- {
  margin: 0 auto;
  max-width: 1440px;
}

.paragraph--type--advanced-slider-text-wrapper {
  margin: 0 auto;
  max-width: 836px;
  position: relative;
  padding: 0 rem-calc(20);
  @media (min-width: $screen-sm-min) {
    padding: 0 rem-calc(30);
  }
  @media (min-width: $screen-lg-min) {
    padding: 0;
  }
  .col-md-12.card {
    padding: 0 17px;
  }
  .active > .col-md-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
.paragraph--type--advanced-slider-wrapper {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  padding: 0 rem-calc(20);
  @media (min-width: $screen-sm-min) {
    padding: 0 rem-calc(30);
  }
  @media (min-width: $screen-lg-min) {
    padding: 0;
  }
  .col-md-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .col-md-4.image {
    padding-left: 0 !important;
  }
  .col-md-8.card {
    padding: 0 30px;
  }
  .carousel {
    .col-md-12 {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}
.paragraph--type--advanced-slider-wrapper,
.paragraph--type--advanced-slider-text-wrapper {
  .carousel-inner {
    display: flex;
    .item.active {
      width: 100%;
    }
  }
  .slider-controls {
    z-index: 1;
    position: relative;
  }
  .left.carousel-control,
  .right.carousel-control {
    top: 33px;
    width: 30px;
    height: 30px;
    @media (min-width: $screen-lg-min) {
      top: 40px;
    }
    &:after {
      content: "";
      background: $white;
      position: absolute;
      width: 30px;
      z-index: -1;
      height: 35px;
      left: 0;
    }
  }

  .left.carousel-control {
    left: auto;
    right: rem-calc(30);
    @media (min-width: $screen-md-min) {
      left: auto;
      right: rem-calc(50);
    }
    &:after { 
      width: 50px;
    }
  }

  .right.carousel-control {
    right: 0;
  }

  .slider-tip {
    @extend p;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: -12px;
  }

  .slider-maintitle {
    @extend h2;
    margin-bottom: rem-calc(30);
    padding-bottom: rem-calc(15);
    border-bottom: 2px solid #a7a7a7;
  }

  h3 {
    margin-top: 0 !important;
    font-weight: bold;
  }
  .img-responsive {
    margin: 0 auto;
  }
}