/* Headings */
h1 {
  font-family: $font-montserrat;
  font-size: rem-calc(32);
  font-weight: 500;
  line-height: rem-calc(39);
  @media (min-width: $screen-lg-min) {
    font-size: rem-calc(48);
    line-height: rem-calc(58);
  }
}
h2 {
  font-family: $font-lato;
  font-size: rem-calc(24);
  font-weight: bold;
  line-height: rem-calc(29);
  @media (min-width: $screen-lg-min) {
    font-size: rem-calc(32);
    line-height: rem-calc(39);
  }
}
h3 {
  font-family: $font-lato;
  font-size: rem-calc(20);
  line-height: rem-calc(28);
}
h4 {
  font-family: $font-montserrat;
  font-size: rem-calc(18);
  font-weight: bold;
  line-height: rem-calc(22);
}
h5 {
  font-family: $font-lato;
  font-size: rem-calc(16);
  font-weight: bold;
  line-height: rem-calc(19);
}
h6 {
  font-family: $font-montserrat;
  font-size: rem-calc(14);
  line-height: rem-calc(18);
}
a {
  &:hover,
  &:active,
  &:focus,
  &:visited {
    background: transparent;
    text-decoration: none;
  }
}

p {
  font-family: $font-lato;
  font-size: rem-calc(20);
  line-height: rem-calc(28);
}

/* Blockquote */
.paragraph--type--block-quote {
  padding: rem-calc(14 0 6 25);
  @media (min-width: $screen-sm-min) {
    padding: rem-calc(10 0 10 28);
  }
  @media (min-width: $screen-md-min) {
    padding: rem-calc(10 0 10 30);
  }
  p {
    font-family: $font-lato;
    font-size: rem-calc(24);
    font-weight: bold;
    line-height: rem-calc(29);
    @media (min-width: $screen-md-min) {
      font-size: rem-calc(32);
      line-height: rem-calc(39);
    }
  }
}

/* Paragraph with links */
p a:hover {
  text-decoration: none;
}

/* Bullet list */
section > .region-content {
  ul {
    font-family: $font-lato;
    font-size: rem-calc(20);
    line-height: rem-calc(28);
    margin-left: rem-calc(10);
    li {
      padding: rem-calc(0 0 10 5);
    }
  }
  ul.pagination {
    padding: 0;
    li {
      padding: 0;
    }
  }
}

/* highlighted list */
section > .region-content {
  ul.highlighted {
    background-color: transparent;
    list-style: none;
    margin: rem-calc(24 0);
    padding: 0;
    width: 100%;
    @media (max-width: $screen-xs-max) {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $screen-md-min) {
      margin: rem-calc(60 0);
    }
    &:after {
      clear: both;
      content: "";
      display: table;
    }
    li {
      float: left;
      font-family: $font-lato;
      font-size: rem-calc(20);
      font-weight: bold;
      line-height: 28px;
      margin-bottom: rem-calc(45);
      padding: rem-calc(0 0 10 0);
      position: relative;

      @media (min-width: $screen-sm-min) {
        width: 50%;
      }

      &:before {
        bottom: 0;
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        width: 32px;
      }

      &:after {
        clear: both;
        content: "";
        display: table;
      }

      &:nth-child(even) {
        @media (min-width: $screen-sm-min) {
          padding-left: rem-calc(15);
        }
        &:before {
          @media (min-width: $screen-sm-min) {
            left: rem-calc(15);
          }
        }
      }
    }
  }

  ul.card-type-circle-list,
  ul.card-type-radius-list,
  ul.blog-listing {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (min-width: $screen-sm-min) {
      margin: rem-calc(0 -30 0 0);
    }
  }
  ul.blog-listing {
    @media (min-width: $screen-sm-min) {
      margin: rem-calc(0 -20 0 0);
    }
    @media (min-width: $screen-lg-min) {
      margin: rem-calc(0 -30 0 0);
    }
  }
  ul.card-type-radius-list li {
    padding: rem-calc(24);
  }
  ul.card-type-circle-list li,
  ul.card-type-square-list li,
  ul.blog-listing li {
    padding: 0;
  }
  ul.card-type-square-list {
    list-style-type: none;
    margin: rem-calc(70 0);
    padding: 0;
    @media (min-width: $screen-sm-min) {
      margin: rem-calc(70 -30 70 0);
    }
  }
  ul.nav-tabs,
  ul.nav-pills {
    margin-left: 0;
    li {
      padding: 0;
    }
  }
}

/* Image list */
.paragraph--type--image-list {
  margin: rem-calc(0 auto 40);
  max-width: 280px;
  @media (min-width: $screen-sm-min) {
    margin: rem-calc(0 auto 60);
    max-width: 708px;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 836px;
  }
  .field--name-field-image1,
  .field--name-field-image2,
  .field--name-field-image3 {
    max-width: 280px;

    img {
      width: 100%;
    }
  }
  .field--name-field-image1 {
    @media (min-width: $screen-sm-min) {
      max-width: 708px;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 836px;
    }
  }
  .field--name-field-image2 {
    @media (min-width: $screen-sm-min) {
      float: left;
      max-width: 345px;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 403px;
    }
  }
  .field--name-field-image3 {
    @media (min-width: $screen-sm-min) {
      float: right;
      max-width: 345px;
    }
    @media (min-width: $screen-lg-min) {
      margin-bottom: rem-calc(60);
      max-width: 403px;
    }
  }

  &.image-count-2 {
    display: flex;
    justify-content: space-between;

    > .field--type-image {
      @media (min-width: $screen-sm-min) {
        max-width: 345px;
      }
      @media (min-width: $screen-lg-min) {
        margin-bottom: rem-calc(60);
        max-width: 403px;
      }
    }
  }
}

body:not(.path-frontpage) .field--type-image {
  margin-bottom: rem-calc(20);
}

/* Paragraph with image */
.paragraph--type--paragraph-with-image.image-position-left,
.paragraph--type--paragraph-with-image.image-position-right {
  margin: 0;
  clear: both;
  padding-top: 0;
  @media (min-width: $screen-sm-min) {
    background-color: transparent;
    margin: 0 auto;
  }
  @media (min-width: $screen-lg-min) {
    margin: 0 auto;
    max-width: 1170px;
  }
  .elemet-wrapper-all {
    display: block;
    @media (min-width: $screen-sm-min) {
      display: flex;
    }
    .field--name-field-image1 {
      @media (min-width: $screen-lg-min) {
        padding: 0 60px;
      }
    }
  }
  .image-wrapper {
    position: relative;
    margin: auto;
  }
  .image-text-wrapper {
    // background-color: #F6F7FB;
    height: fit-content;
  }
  .field--name-field-image1 {
    width: 100%;
    background-color: $white;
    box-shadow: none;
    @media (min-width: $screen-sm-min) {
      // background-color: #F6F7FB;
      box-shadow: 0 4px 20px 3px rgba(0,0,0,0.15);
    }
    @media (min-width: $screen-lg-min) {
      max-width: 470px;
    }
    img {
      margin: 0 auto;
      padding: 0;
      max-height: 312px;
      max-width: 312px;
      @media (min-width: $screen-lg-min) {
        max-height: 350px;
        max-width: 350px;
        margin: 70px auto;
      }
    }
  }
  .field--name-field-title {
    @extend h2;
    margin: 0 auto;
  }
  .field--name-field-body {
    @extend p;
    @media (min-width: $screen-sm-min) {
      height: auto;
    }
    p {
      @media (min-width: $screen-sm-min) {
        overflow: hidden;
      }
    }
  }
  .field--name-field-image-position {
    // TODO: unset the field value through preprocess
    display: none;
  }
}

/* Image on right */
.paragraph--type--paragraph-with-image.image-position-left {
  .field--name-field-image1 {
    @media (min-width: $screen-sm-min) {
      float: right;
      margin-right: rem-calc(-30);
    }
    @media (min-width: $screen-lg-min) {
      // margin: 0 0 0 rem-calc(60);
      margin: 0;
    }
  }
  .image-text-wrapper {
    margin: 0;
    padding: rem-calc(20);
    @media (min-width: $screen-sm-min) {
    padding: rem-calc(40 30 40 90);
    margin: auto rem-calc(30) auto 0;
    }
    @media (min-width: $screen-lg-min) {
      margin: auto auto auto -60px;
      padding: rem-calc(60 60 60 120);
    }
  }
  .field--name-field-title {
    padding: 0 0 rem-calc(10) 0;
    @media (min-width: $screen-sm-min) {
      margin: 0;
    }
    @media (min-width: $screen-lg-min) {
      padding: 0 0 rem-calc(20) 0;
    }
  }
  .field--name-field-body {
    margin: 0 auto 0;
    @media (min-width: $screen-lg-min) {
      max-width: 731px;
    }
  }
}

/* Image on left */
.paragraph--type--paragraph-with-image.image-position-right {
  .field--name-field-image1 {
    @media (min-width: $screen-sm-min) {
      float: left;
      margin-left: rem-calc(-30);
      margin-right: rem-calc(30);
    }
    @media (min-width: $screen-lg-min) {
      margin: auto;
    }
  }
  .image-text-wrapper {
    margin: auto;
    padding: rem-calc(20);
    @media (min-width: $screen-sm-min) {
      margin: auto rem-calc(-30) auto rem-calc(30);
      padding: rem-calc(40 120 40 30);
    }
    @media (min-width: $screen-lg-min) {
      margin: auto -60px auto auto;
      padding: rem-calc(60 120 60 60);
    }
  }
  .elemet-wrapper-all {
    flex-direction: row-reverse;
  }
  .field--name-field-title {
    padding: 0 0 rem-calc(10) 0;
    @media (min-width: $screen-sm-min) {
      margin: 0 rem-calc(14) 0 auto;
    }
    @media (min-width: $screen-lg-min) {
      padding: 0 0 rem-calc(20) 0;
    }
  }
  .field--name-field-body {
    margin: 0 auto 0;
    @media (min-width: $screen-sm-min) {
      margin: 0 rem-calc(-30) 0 auto;
    }
    @media (min-width: $screen-lg-min) {
      margin: 0 0 0 auto;
      max-width: 731px;
    }
  }
}

/* Carousel Paragraph */
.paragraph--type--carousel {
  margin: 0 auto;
  padding: 0 rem-calc(20);
  @media (min-width: $screen-sm-min) {
    padding: 0 rem-calc(30);
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 1170px;
    padding: 0;
  }
  .carousel-indicators {
    z-index: 2;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    li {
      border: transparent;
      background-color: $white;
      height: 15px;
      margin: rem-calc(1 6);
      width: 15px;
    }
    li.active {
      height: 17px;
      width: 17px;
    }
  }
  .field--item img {
    height: 200px;
    object-fit: cover;
    @media (min-width: $screen-sm-min) {
      height: 293px;
    }
    @media (min-width: $screen-lg-min) {
      height: 550px;
    }
  }
  .right.carousel-control {
    z-index: 1;
    right: rem-calc(40);
    @media (min-width: $screen-lg-min) {
      right: rem-calc(20);
    }
  }
  .left.carousel-control {
    z-index: 1;
    left: rem-calc(40);
    @media (min-width: $screen-lg-min) {
      left: rem-calc(20);
    }
  }
}

/* Simple paragraph with body */
.paragraph--type--paragraph-with-body {
  @media (min-width: $screen-lg-min) {
  }
  .field--name-field-title {
    @extend h2;
    margin-bottom: rem-calc(15);
    @media (min-width: $screen-sm-min) {
      margin-bottom: rem-calc(25);
    }
  }
  .field--name-field-body {
    @extend p;
    margin-bottom: rem-calc(30);
    @media (min-width: $screen-sm-min) {
      margin-bottom: rem-calc(60);
    }
  }
}

/* table with horizontal scroll*/
.scrollable {
  overflow-x: auto;
  width: 100%;

  th,
  td {
    border: none;
    padding: rem-calc(20);
    @media (max-width: $screen-xs-max) {
      min-width: 278px;
    }

    @media (min-width: $screen-sm-min) {
      min-width: 236px;
    }
    @media (min-width: $screen-md-min) {
      min-width: 278px;
    }
  }
}

/* Standard Bootstrap table */
.table {
  border: transparent;
  width: 100%;

  > thead {
    > tr > th {
      padding: rem-calc(20);
    }
  }
  > tbody {
    > tr > td {
      padding: rem-calc(15);
    }
  }

  thead tr {
    background-color: transparent;
    height: 60px;
    th {
      @extend h4;
    }
  }
  tbody {
    tr {
      height: 60px;
      td {
        font-family: $font-lato;
        font-size: rem-calc(20);
        line-height: rem-calc(28);
      }
    }
  }
}

/* Buttons */
.btn-primary {
  @include button-primary;
}

.btn-secondary {
  @include button-secondary;
}

/* Pager */
.global-pager {
  margin: rem-calc(0 auto 40);
  max-width: 280px;
  position: relative;
  width: 100%;
  @media (min-width: $screen-sm-min) {
    display: flex;
    margin: rem-calc(-15 0 60);
    max-width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    margin: rem-calc(-10 0 100);
  }
  .pager-count-text {
    font-weight: 400;
    margin: rem-calc(5 0 -5);
    max-width: 280px;
    text-align: left;
    @media (min-width: $screen-sm-min) {
      margin-top: rem-calc(25);
      max-width: 230px;
      text-align: left;
      width: 100%;
    }
    @media (min-width: $screen-lg-min) {
      margin: rem-calc(25 60 0 0);
    }
  }
  nav {
    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
    ul {
      @media (min-width: $screen-sm-min) {
        float: right;
      }
      @media (min-width: $screen-lg-min) {
        margin-right: rem-calc(-15);
      }
    }
  }

  .pager__item {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    a {
      background: none;
      border: none;
      font-family: $font-lato;
      font-size: rem-calc(16);
      line-height: rem-calc(19);
      // margin-left: rem-calc(7);
      &:hover,
      &:focus {
        border-radius: 50%;
        color: $white;
      }
    }
  }
  .is-active a {
    border-radius: 50%;
    color: $white;
    &:hover,
    &:focus {
      color: $white;
    }
  }
  .pager__item--previous {
    display: inline-block;
    left: rem-calc(-4);
    position: absolute;
    @media (max-width: $screen-md-max) {
      padding-right: 0;
    }
    @media (min-width: $screen-sm-min) {
      display: inline;
      left: 0;
      position: relative;
    }
    a {
      padding: rem-calc(6 0);
      @media (min-width: $screen-lg-min) {
        margin-right: rem-calc(16);
        padding: rem-calc(6 12);
      }
      &:hover {
        border-radius: 35%;
      }
      span {
        display: flex;
        &:before {
          content: "\003c";
          font-size: rem-calc(35);
          font-weight: 300;
          margin-right: rem-calc(14);
          transform: scaleX(0.7);
        }
      }
    }
  }
  .pager__item--next {
    display: inline-block;
    position: absolute;
    right: rem-calc(-15);
    @media (min-width: $screen-sm-min) {
      display: inline;
      right: 0;
      position: relative;
    }
    a {
      @media (min-width: $screen-sm-min) {
        padding: rem-calc(6 0);
      }
      @media (min-width: $screen-lg-min) {
        margin-left: rem-calc(24);
        padding: rem-calc(6 12);
      }
      &:hover {
        border-radius: 35%;
      }
      span {
        display: flex;
        &:after {
          content: "\003e";
          font-size: rem-calc(35);
          font-weight: 300;
          margin-left: rem-calc(12);
          transform: scaleX(0.7);
        }
      }
    }
  }
}
.pagination {
  >li:first-child>a,
  >li:last-child>a{
    border-radius: 50%;
  }
  > .active >a  {
    z-index: 1;
  }
}

.btn-tooltip {
  background-color: $white;
  color: $dark-grey;
  display: none;
  @media (min-width: $screen-lg-min) {
    border: 1px solid $dark-grey;
    border-radius: rem-calc(4);
    box-sizing: border-box;
    display: inline-block;
    font-family: $font-lato;
    font-size: rem-calc(16);
    line-height: rem-calc(19);
    margin-right: rem-calc(16);
    padding: rem-calc(15 24 14);
  }
}

/* Tooltips */
.tooltip-inner {
  background-color: $dark-grey;
  color: $white;
  font-family: $font-lato;
  font-size: rem-calc(16);
  font-weight: 300;
  line-height: rem-calc(19);
}

.tooltip.top {
  .tooltip-arrow {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid $dark-grey;
    margin-left: rem-calc(-8);
  }
  .tooltip-inner {
    margin-bottom: rem-calc(4);
    padding: rem-calc(13 40);
  }
}

.tooltip.bottom {
  .tooltip-arrow {
    border-bottom: 10px solid $dark-grey;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    margin-left: rem-calc(-8);
  }
  .tooltip-inner {
    margin-top: rem-calc(4);
    padding: rem-calc(16 29);
  }
}

.tooltip.right {
  .tooltip-arrow {
    border-bottom: 9px solid transparent;
    border-right: 10px solid $dark-grey;
    border-top: 9px solid transparent;
    margin-top: rem-calc(-8);
  }
  .tooltip-inner {
    margin-left: rem-calc(4);
    padding: rem-calc(15 17);
  }
}

.tooltip.left {
  .tooltip-arrow {
    border-bottom: 9px solid transparent;
    border-left: 10px solid $dark-grey;
    border-top: 9px solid transparent;
    margin-top: rem-calc(-8);
  }
  .tooltip-inner {
    margin-right: rem-calc(4);
    padding: rem-calc(15 17);
  }
}

/* Alerts */
.messages__wrapper {
  padding: rem-calc(0 24);
}
.path-frontpage .alert {
  margin: rem-calc(100 auto 16);
}
.page-node-type-portofolio,
.page-node-type-article {
  .alert {
    margin-bottom: rem-calc(60);
  }
}
.alert {
  @extend h3;
  border-color: transparent;
  border-radius: 0 0 32px 0;
  font-weight: bold;
  margin: rem-calc(0 0 16 0);
  padding: rem-calc(16 48 16 16);
  position: relative;
  @media (min-width: $screen-sm-min) {
    margin: rem-calc(0 auto 16);
    max-width: 620px;
  }
  @media (min-width: $screen-sm-min) {
    max-width: 836px;
  }
}
.alert-dismissible {
  .close {
    opacity: 1;
    position: absolute;
    right: rem-calc(20);
    top: rem-calc(10);
    &:focus {
      outline: none;
    }
    @media (min-width: $screen-sm-min) {
      right: rem-calc(32);
      top: rem-calc(13);
    }
    span {
      color: $dark-grey;
      font-size: rem-calc(28);
      font-weight: 400;
      &:focus {
        outline: none;
      }
    }
  }
}
.alert-danger {
  background: $light-pink;
  color: $fuchsia;
}
.alert-success {
  background: $light-green;
  color: $green;
}
.alert-warning {
  background: $light-yellow;
  color: $yellow;
}
.alert-info {
  background: $light-purple;
  color: $blue;
}
.alert-danger.alert-dismissible .close span {
  color: $fuchsia;
}
.alert-success.alert-dismissible .close span {
  color: $green;
}
.alert-warning.alert-dismissible .close span {
  color: $yellow;
}
.alert-info.alert-dismissible .close span {
  color: $blue;
}

form {
  .alert.alert-danger {
    @extend p;
    background: transparent;
    font-family: $font-lato;
    font-size: rem-calc(14);
    font-weight: 400;
    line-height: rem-calc(17);
    margin-top: rem-calc(7);
    padding: 0;
  }
  .has-error {
    .form-control {
      &:focus {
        box-shadow: none;
        border-color: transparent;
      }
    }
  }
}

/* Dropdown */
.dropdown {
  button {
    @extend h5;
    background: $white;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
    font-weight: 400;
    color: $dark-grayish;
    height: 48px;
    margin: 0;
    max-width: 280px;
    padding: rem-calc(14 40 15 16);
    position: relative;
    text-align: left;
    width: 100%;
    &:active,
    &:hover,
    &:focus {
      background-color: $white;
      color: $dark-grayish;
    }
    &:after {
      bottom: rem-calc(16);
      content: url(../images/svg/down.svg);
      display: inline-block;
      height: 16px;
      position: absolute;
      right: rem-calc(16);
      top: rem-calc(16);
      width: 16px;
    }
    @media (min-width: $screen-sm-min) {
      max-width: 500px;
    }
  }
  .dropdown-menu {
    background: $white;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin: 0;
    max-width: 280px;
    padding: 0;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      max-width: 500px;
    }
    li {
      margin: 0;
      padding: 0;
      a {
        @extend h5;
        color: $dark-grey;
        font-weight: 400;
        margin: 0;
        padding: rem-calc(14 40 15 16);
        &:hover {
          color: $white;
        }
      }
    }
    .divider {
      background: $light-grayish;
    }
  }
}

.btn-default:active:focus,
.open>.btn-default.dropdown-toggle {
  background-color: $white;
  color: $dark-grayish;
  &:hover,
  &:focus {
    background-color: $white;
    color: $dark-grayish;
  }
}

/* Modal */
.modal {
  margin: 0 auto;
}
.modal-dialog {
  margin: rem-calc(35 auto);
  max-width: 280px;
  width: 100%;
  @media (min-width: $screen-sm-min) {
    max-width: 600px;
  }
  .modal-content {
    background-color: $white;
    border-radius: 0 0 64px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
    @media (min-width: $screen-sm-min) {
      margin: 0 auto;
      max-width: 600px;
      min-height: 350px;
    }
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    border: none;
  }
  .modal-header {
    padding: rem-calc(24);
    position: relative;
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(32);
    }
    button {
      opacity: 1;
      position: absolute;
      right: rem-calc(24);
      top: rem-calc(24);
      &:focus {
        outline: none;
      }
      @media (min-width: $screen-sm-min) {
        right: rem-calc(32);
        top: rem-calc(32);
      }
      span {
        color: $dark-grey;
        font-size: rem-calc(27);
        font-weight: 400;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .modal-body {
    padding: rem-calc(0 24);
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(0 32);
    }
  }
  .modal-footer {
    padding: rem-calc(32 24 24);
    text-align: left;
    @media (min-width: $screen-sm-min) {
      margin-top: rem-calc(141);
      padding: rem-calc(0 32 32);
      text-align: right;
    }
    .btn {
      margin: 0;
    }
    .btn-secondary {
      margin-bottom: rem-calc(16);
      @media (min-width: $screen-sm-min) {
        margin: rem-calc(0 15 0 0);
      }
    }
  }
}

/* Tags */
.card-tag {
  margin-top: rem-calc(27);
  z-index: 0;
  &::before {
    background: $fuchsia;
    content: "";
    height: 27px;
    margin-top: rem-calc(-3);
    position: absolute;
    transition: width 0.5s;
    width: 4px;
    z-index: -1;
  }
  a,
  div {
    font-family: $font-lato;
    font-size: rem-calc(16);
    line-height: rem-calc(19);
    margin-left: rem-calc(16);
    text-decoration: none;
  }
  &:hover {
    padding-right: rem-calc(16);
    a, div {
      z-index: 10;
    }
    &::before {
      width: 100%;
    }
  }
}
.card-tag-static {
  padding: rem-calc(3 20 5 20);
  a,
  div {
    color: $white;
    font-family: $font-lato;
    font-size: rem-calc(16);
    line-height: rem-calc(19);
    &:hover {
      color: $white;
    }
  }
}
/* Form */
form {
  label {
    font-family: $font-lato;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: rem-calc(19);
    margin-bottom: rem-calc(8);
  }
  .form-required {
    &:after {
      background-image: unset;
      content: "*";
      font-family: $font-lato;
      font-size: rem-calc(16);
      position: absolute;
    }
  }
  .form-control {
    border: transparent;
    border-radius: 0;
    color: $dark-grey;
    font-family: $font-lato;
    font-size: rem-calc(16);
    padding: rem-calc(24 24 24 15);
    &:focus {
      border: transparent;
      box-shadow: none;
    }
  }
  textarea.form-control {
    max-height: 246.65px;
    padding: rem-calc(16);
  }
  input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $white;
    border: rem-calc(2) solid $gray;
    height: 20px;
    margin-right: rem-calc(16);
    width: 20px;
  }
  .checkbox {
    margin: rem-calc(20) 0 rem-calc(23);
    @media (min-width: $screen-sm-min) {
      margin-top: rem-calc(-3);
    }
    .terms-text {
      font-family: $font-montserrat;
      font-size: rem-calc(16);
      line-height: rem-calc(19);
    }
    input[type="checkbox"]:checked {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      + .terms-text:before {
        background-image: url("../images/svg/checkbox.svg");
        content: "";
        height: 20px;
        margin-left: rem-calc(-36);
        position: absolute;
        width: 20px;
      }
    }
    input[type=checkbox]::-ms-check {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
  }
  .form-item-agree {
    p {
      margin: rem-calc(4) 0 0 rem-calc(16);
    }
    .form-required {
      &:after {
        content: "";
      }
    }
  }
}
.field--name-field-element {
  order: 999;
  .field--type-file {
    margin: rem-calc(30) 0;
    .field--item {
      margin-bottom: rem-calc(8);
      .file > span {
        background: $light-blue;
        border: none;
      }
      .file-icon {
        svg {
          width: 24px;
          margin: 0 rem-calc(8) rem-calc(-7) rem-calc(14);
        }
      }
      .file-link {
        padding: rem-calc(12) 0 rem-calc(6);
        a {
          color: $dark-grey;
          font-family: $font-lato;
          font-size: rem-calc(20);
          font-weight: normal;
        }
      }
    }
  }
}
