// Submenu style.
.region-footer {
  .menu--main {
    > li > ul {
      display: block;
      list-style-type: none;
      padding: 10px 0 0;
      font-weight: 200;
      opacity: 1;
      li {
        padding: 4px 0;
        display: block;
        a  {
          background-image: none;
        }
        a:hover  {
          background-image: none;
        }
      }
    }
  }
}
.menu--main {
  > li > ul.navigation_collapsible,
  .hero_image {
    display: none;
  }
  > li.active > ul.navigation_collapsible {
    background: #F6F7F9 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 0;
    margin-top: rem-calc(26);
    position: fixed;
    padding: 0;
    right: 0;
    width: 100%;
    @media (max-width: $screen-md-max) {
      background: transparent;
      display: block;
      margin-top: rem-calc(15);
      margin-left: auto;
      position: initial;
    }
    li {
      align-items: center;
      display: inline-grid;
      padding: rem-calc(5) !important;
      width: inherit;
      position: relative;
      @media (max-width: $screen-md-max) {
        margin-bottom: 0;
      }
      &:after {
        @include transition(width 0.3s ease-in-out);
        bottom: rem-calc(-6);
        background: #F6F7F9 0% 0% no-repeat padding-box;
        border-right: 2px solid #808080;
        content: "";
        height: 6px;
        opacity: 0.5;
        position: absolute;
        right: 0;
        width: 100%;
        @media (max-width: $screen-md-max) {
          display: none;
        }
      }
      a {
        font-size: 14px;
        line-height: 1.428571429;
        margin: 0 auto;
        text-transform: none;
      }
    }
    li.active-bar:after {
      @include transition(width 0.3s ease-in-out);
      bottom: rem-calc(-6);
      content: "";
      height: 6px;
      left: 0;
      max-width: 100%;
      position: absolute;
      width: 100%;
      @media (max-width: $screen-md-max) {
        display: none;
      }
    }
  }
 
  > li > ul.navigation_collapsible {
    li:last-child {
      a {
        background-image: none;
        width: auto;
      }
    }
  }

  span.caret {
    display: none;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus  {
  //background: transparent;
  background-color: #fff;
}

// Select 2 general Style
span.select2-selection.select2-selection--single {
  outline: none !important;
}

.select2-selection {
  align-items: center;
  border-color: transparent !important;
  border-radius: 0;
  display: flex;
  height: auto;
  min-height: rem-calc(46);
  padding: rem-calc(10) 0 rem-calc(10) rem-calc(18);
  position: relative;
  z-index: 4;
  font-size: 16px;
  .select2-selection__rendered {
    padding: 0;
  }

  .select2-selection__arrow b {
    display: none;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: rem-calc(20);
  @media (min-width: $screen-sm-min) {
    line-height: rem-calc(28);
  }
}

.select2-search--dropdown {
  display: none !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 0 !important;
  background: #F6F7F9 0% 0% no-repeat padding-box !important;
}

// Set the max height for the option list.
.select2-container--default .select2-results>.select2-results__options {
  height: 100%;
  background: white;
}

.select2-container {
  font-size: inherit;
  width: 100% !important;

  &:after {
    align-items: center;
    bottom: 0;
    content: url(/profiles/openbusiness_profile/themes/custom/openbusiness_theme/images/svg/down.svg);
    font-size: rem-calc(40);
    display: flex;
    margin: auto;
    padding: 0;
    position: absolute;
    right: rem-calc(6);
    top: 0;
    transition: all .5s;
    width: 20px;
    height: 20px;
    z-index: 4;
    cursor: pointer;
    @media (min-width: $screen-sm-min) {
      right: rem-calc(8);
    }

    @media (min-width: $screen-md-min) {
      right: rem-calc(10);
    }
  }

  &.select2-container--open:after {
    transform: rotate(180deg);
    transition: all .5s;
    top: 18px;
    bottom: 0;
  }
}

.select2-dropdown {
  border-color: transparent !important;
  z-index: 4;

  ul {
    list-style: none;
    padding: 0!important;
    width: 100%;

    li {
      align-items: center;
      display: flex;
      min-height: 38px;
      line-height: rem-calc(20);
      list-style: none;
      padding: rem-calc(5 20);
      @media (min-width: $screen-sm-min) {
        min-height: 46px;
        line-height: rem-calc(28);
      }
      @media (min-width: $screen-md-min) {
        padding: rem-calc(5 24);
      }

      &:before {
        content: none !important;
      }
    }
  }
}

.chosen-container.shs-select.form-select {
  .chosen-single {
    align-items: center;
    background: transparent;
    background-image: none!important;
    border-color: transparent !important;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    height: rem-calc(48);
    padding: 0 rem-calc(45) 0 rem-calc(18);
    position: relative;

    @media (min-width: $screen-sm-min) {
      height: rem-calc(54);
      padding: 0 rem-calc(45) 0 rem-calc(20);
    }

    @media (min-width: $screen-md-min) {
      height: rem-calc(60);
      padding: 0 rem-calc(45) 0 rem-calc(22);
    }

    .span {
      padding: 0;
    }

    b {
      display: none!important;
    }
  }

  .chosen-drop {
    border-color: transparent !important;
    border-radius: 0;
    border-top: 1px solid;
    box-shadow: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0 !important;

      li {
        background-image: none;
        height: auto;
        padding: rem-calc(5 20);

        &:before {
          content: none !important;
        }
      }
    }
  }
}

//add trim for selected option for not modify the field height
li.select2-selection__choice {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; //use this if you want to shorten
}

ul.select2-selection__rendered {
  padding-right: rem-calc(12) !important;
}

span.select2-container.select2-container--default.select2-container--open {
  max-width: 100%;
}