
#block-views-block-testimonials-block-1 {
  overflow: hidden;
}
.block-views-blocktestimonials-block-1 {
  margin-bottom: rem-calc(-30);
}
.paragraph--type--testimonials-wrapper {
  margin: auto;
  padding: rem-calc(0 20);
  @media (min-width: $screen-sm-min) {
    padding: rem-calc( 0 30);
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 1170px;
    padding: 0;
  }
}
.path-frontpage {
  .testimonials {
    .col-lg-8 {
      padding-right: 0px;
      padding-left: 0px;
    }
    .cards {
      justify-content: center ;
      @media (min-width: $screen-lg-min) {
        justify-content: space-between;
      }
      .views-row {
        margin-right: 30px;
        @media (min-width: $screen-lg-min) {
          margin-right: 0;
        }
      }
    }
    .views-row {
      background-color: $white;
      border-radius: rem-calc(0 0 48 0);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      display: flex;
      flex-wrap: wrap;
      margin: rem-calc(0 0 20);
      padding: rem-calc(24);
      @media (min-width: $screen-sm-min) {
        max-width: 345px;
        width: 50%;
      }
      @media (min-width: $screen-md-min) {
        margin-bottom: rem-calc(30);
        max-width: 370px;
      }
    }
  }
}
.testimonials {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding: rem-calc(0 20 55);
  }

  > .row {
    @media (min-width: $screen-lg-min) {
      margin: 0 auto;
      padding: 0;
    }
  }

  .view-title,
  .testimonials-title {
    padding: rem-calc(0 15 24);
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(35 0 24 42);
    }
    @media (min-width: $screen-lg-min) {
      display: flex;
      justify-content: flex-end;
      max-width: 700px;
    }
  }

  .testimonials-title {
    .view-header {
      font-size: rem-calc(25);
      font-weight: bold;
      line-height: rem-calc(29);
      text-align: left;
      margin-right: 0;
      @media (min-width: $screen-lg-min) {
        font-size: rem-calc(32);
        line-height: rem-calc(39);
        text-align: end;
        margin-right: rem-calc(26);
      }
    }
  }

  .view-body {
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
  }
  .cards {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    @media (min-width: $screen-sm-min) {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 30px;
    }
    @media (min-width: $screen-md-min) {
      padding: 0;
    }
    @media (min-width: $screen-lg-min) {
      justify-content: left;
    }
  }

  .views-row {
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(0 0 20);
    padding: rem-calc(24) rem-calc(10) rem-calc(24) rem-calc(24);
    @media (min-width: $screen-sm-min) {
      max-width: 345px;
      margin-right: rem-calc(20);
      width: 50%;
    }
    @media (min-width: $screen-md-min) {
      margin-bottom: rem-calc(30);
      margin-right: rem-calc(30);
      max-width: 370px;
    }
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
      margin-right: initial;
      @media (min-width: $screen-md-min) {
        margin-right: 0;
      }
    }
    &:nth-child(odd),
    &:nth-child(6) {
      @media (max-width: $screen-sm-max) {
        margin-right: rem-calc(20);
      }
      @media (max-width: 1200px) {
        margin-right: rem-calc(30);
      }
      @media (max-width: $screen-xs-max) {
        margin-right: 0;
      }
    }
  }
  .field-image {
    border-radius: rem-calc(0 0 25 0);
    height: 70px;
    margin-bottom: rem-calc(34);
    margin-right: 10px;
    width: 70px;
    img {
      transform: scale(1.2);
      width: 70px;
      height: 70px;
    }
  }

  .field-header {
    display: flex;
    margin: 0;
    width: 100%;

    .description {
      margin-left: rem-calc(15);
    }

    .field-name {
      font-size: rem-calc(20);
      font-weight: bold;
      line-height: rem-calc(28);
      margin: rem-calc(0 0 15 0);
    }

    .field-role {
      font-size: rem-calc(16);
      line-height: rem-calc(19);
    }
  }

  .field-body {
    font-size: rem-calc(20);
    line-height: rem-calc(28);
    margin: 0;
  }
}