// Vertical paragraphs style.
.paragraph--type--vertical-tabs-wrapper {
  padding: rem-calc(0 5);
  display: flex;
  @media (min-width: $screen-sm-min) {
    margin: auto;
    padding: rem-calc(0 30);
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 1170px;
    padding: 0;
  }

  .with-images {
    margin-top: 0;
    @media (min-width: $screen-sm-min) {
      margin-top: 256px;
    }
  }

  // Title.
  .a11y-paragraphs-tabs__section-title {
    text-align: center;
    margin-top: 0;
    @media (min-width: $screen-sm-min) {
      text-align: right;
      margin-top: -25px;
    }
  }

  // Tabs and accordion.
  .a11y-paragraphs-tabs__wrapper .tabs-trigger,
  .nav-tabs li {
    padding: 0;
    margin-right: auto;
    text-align: right;
    width: auto;
    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
  }

  .nav > li > a {
    padding: rem-calc(10) 0;
    margin-right: rem-calc(30);
    color: #454545;
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(10) 0;
      margin: 0;
    }
  }

  a:hover,
  p > a:hover,
  a,
  p > a {
    color: #0082c4;
  }

  .view-content-section {
    padding: 0;
    @media (min-width: $screen-sm-min) {
      padding: 0 15px;
    }
  }
  section > .accordeon-trigger {
    padding: 0 !important;
  }
  .a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected,
  .a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected:hover,
  .a11y-paragraphs-tabs__wrapper .tabs-trigger.is-selected:focus,
  .a11y-paragraphs-tabs__wrapper .accordeon-trigger[aria-expanded="true"] {
    background: none;
    border-bottom: none;
  }
  .tabs-tab-list {
    display: none;
    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }
}
.paragraph--type--horizontal-tabs-wrapper {
  margin: 0 20px;
  @media (min-width: $screen-sm-min) {
    margin: 0 30px;
  }
  @media (min-width: $screen-md-min) {
    max-width: 836px;
    width: 100%;
    margin: 0 auto;
    clear: both;
  }
  .a11y-paragraphs-tabs__section-container {
    max-width: 100%;
    clear: both;
  }
}
// Tabs style common.
.paragraph--type--vertical-tabs-wrapper,
.paragraph--type--horizontal-tabs-wrapper  {
  .paragraph,
  .a11y-paragraphs-tabs__section-container.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .nav-tabs > li.active > a.active,
  .nav-tabs > li.active > a {
    font-weight: bolder;
    &:before {
      width: 100%;
    }
  }

  .nav-tabs > li > a.active:hover,
  .nav-tabs > li > a:hover,
  .nav-tabs > li.active > a[aria-expanded="true"] {
    font-weight: bolder;
    &:before {
      @include transition(width 0.3s ease-in-out);
      width: 100%;
    }
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus,
  .nav-tabs {
    background-color:  transparent;
    border:  transparent;
    border-bottom-color:  transparent;
    border-color: transparent;
    outline: none !important;
  }

  .nav-tabs > li > a:hover {
    border-color: transparent;
    background: none;
  }

  .paragraph--type--a11y-paragraphs-tab-content {
    margin-bottom: rem-calc(20);
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
    h3 {
      margin-top: 0;
      font-weight: bold;
    }
    // a {
    //   color: #0082c4;
    // }
    // a:hover {
    //   color: #0082c4;
    // }
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li > a {
    position: relative;
    outline: none !important;
    // font-family: $font-pt-sans;
    // font-size: rem-calc(16);
    // line-height: rem-calc(19);
    position: relative;
    @media (min-width: $screen-md-min) {
      // font-size: rem-calc(20);
      // line-height: rem-calc(20);
    }
    &:before {
      @include transition(width 0.3s ease-in-out);
      bottom: rem-calc(-3);
      content: "";
      height: 2px;
      max-width: 30px;
      position: absolute;
      right: 0;
      width: 0;
    }
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li > a {
    &:before {
      right: 0;
    }
  }
}
.accordion-paragraph,
.vertical-tabs-wrapper,
.carousel,
.paragraph-title,
.block-quote {
  clear: both;
}