{#
  /**
   * @file
   * Theme override for a field.
   *
   * To override output, copy the "field.html.twig" from the templates directory
   * to your theme's directory and customize it, just like customizing other
   * Drupal templates such as page.html.twig or node.html.twig.
   *
   * Instead of overriding the theming for all fields, you can also just override
   * theming for a subset of fields using
   * @link themeable Theme hook suggestions. @endlink For example,
   * here are some theme hook suggestions that can be used for a field_foo field
   * on an article node type:
   * - field--node--field-foo--article.html.twig
   * - field--node--field-foo.html.twig
   * - field--node--article.html.twig
   * - field--field-foo.html.twig
   * - field--text-with-summary.html.twig
   * - field.html.twig
   *
   * Available variables:
   * - attributes: HTML attributes for the containing element.
   * - label_hidden: Whether to show the field label or not.
   * - title_attributes: HTML attributes for the title.
   * - label: The label for the field.
   * - multiple: TRUE if a field can contain multiple items.
   * - items: List of all the field items. Each item contains:
   *   - attributes: List of HTML attributes for each item.
   *   - content: The field item's content.
   * - entity_type: The entity type to which the field belongs.
   * - field_name: The name of the field.
   * - field_type: The type of the field.
   * - label_display: The display settings for the label.
   *
   * @ingroup templates
   *
   * @see template_preprocess_field()
   */
  #}
  {%
    set classes = [
      'field',
      'field--name-' ~ field_name|clean_class,
      'field--type-' ~ field_type|clean_class,
      'field--label-' ~ label_display,
    ]
  %}
  {%
    set title_classes = [
      'field--label',
      label_display == 'visually_hidden' ? 'sr-only',
    ]
  %}
  
  {% if label_hidden %}
    {% if multiple %}
    <div{{ attributes.addClass(classes, 'field--items ') }}> 
    <div class="view-content carousel-fixed-height">
      <div id="carousel-fixed-height" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
        {% for item in items %}
        {% if loop.first %}
          <div class="item active">
        {% else %}
          <div class="item">
        {% endif %}
          <div{{ item.attributes.addClass('field--item test1') }}>{{ item.content }}</div>
      </div>

          {% endfor %}
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-fixed-height" data-slide="prev">
          {{ source(directory ~ '/images/svg/prev' ~ element.text|lower ~ '.svg') }}
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-fixed-height" data-slide="next">
          {{ source(directory ~ '/images/svg/next' ~ element.text|lower ~ '.svg') }}
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    {% else %}
      {% for item in items %}
        <div{{ attributes.addClass(classes, 'field--item') }}>{{ item.content }}</div>
      {% endfor %}
    {% endif %}
  {% else %}
    <div{{ attributes.addClass(classes) }}>
      <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
      {% if multiple %}
        <div class="field--items">
      {% endif %}
      {% for item in items %}
        <div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>
      {% endfor %}
      {% if multiple %}
        </div>
      {% endif %}
    </div>
  {% endif %}
  